<section *ngIf="loadingPage" class="loadingValidatingPrice centered-loader text-center">
  <div class="centered-loader">
    <img src="https://booking.fixtrips.com/theme/CoreThemeV2/img/loader/layout_1.gif">
    <div class="theme-loading-body">
      <h2 class="theme-loading-title">Just a moment</h2>
      <p class="theme-loading-subtitle">We are validating for flights price </p>
    </div>
  </div>
</section>
<div *ngIf="!loadingPage && airPricePort as app" class="col-md-12">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="card mb-2">
              <div class="card-header">
                <h5 class="box-title">
                  Flight Details
                </h5>
              </div>
              <div class="col-md-12">
                <div *ngFor="let airSegment of app.airSegment" class="row mb-3" style="margin-top: 25px">
                  <div class="col-md-2 mb-3">
                    <div class="flight-section-airline-logo-wrap">
                      <img class="img-fluid img-circle airline-logo"
                           src="https://s1.travix.com/global/assets/airlineLogos/{{airSegment.Carrier}}.png">
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="row">
                      <div class="col-md-12">
                        <ul class="flight-details-schedule-list">
                          <li>
                            <i class="fa fa-plane flight-details-schedule-icon"></i>
                            <p class="flight-details-schedule-date">
                              {{airSegment.ArrivalTime | date: 'MMM dd, yyyy'}}</p>
                            <div class="flight-details-schedule-time">
                              {{airSegment.DepartureTime | date: 'hh:mm'}} -
                              {{airSegment.ArrivalTime | date: 'hh:mm'}}
                              ({{airSegment.FlightTime | minuteToHour}})
                            </div>
                            <div class="flight-details-schedule-destination">
                              <div style="float: left; min-width: 40%">
                                <p style="font-weight: bold; margin-bottom: 0">
                                  {{airSegment.Origin}}
                                </p>
                                <p class="flight-details-schedule-destination-city">
                                  {{airSegment.Origin_city_name}}</p>
                              </div>
                              <div style="float: left; margin: 0 10px">
                                <span>→</span>
                              </div>
                              <div style="float: left; min-width: 40%">
                                <p style="font-weight: bold; margin-bottom: 0">
                                  {{airSegment.Destination}}
                                </p>
                                <p class="flight-details-schedule-destination-city">
                                  {{airSegment.Destination_city_name}}</p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h5 class="box-title">Detail Price</h5>
          </div>
          <div class="card-body pt-2 pb-3">
            <div *ngFor="let passengerDetails of app.passengerType" class="mt-1">
              <ng-container *ngIf="passengerDetails.code == 'ADT'">
                <div class="float-left">Adult X{{passengerDetails.numPassenger}}</div>
                <div class="float-right">
                  <strong>{{passengerDetails.passengerBasePrice | currency:'IDR ':'symbol':'2.0'}}</strong></div>
                <div class="clearfix"></div>
              </ng-container>
              <ng-container *ngIf="passengerDetails.code == 'CHD' || passengerDetails.code == 'CNN'">
                <div class="float-left">Child X{{passengerDetails.numPassenger}}</div>
                <div class="float-right">
                  <strong>{{passengerDetails.passengerBasePrice | currency:'IDR ':'symbol':'2.0'}}</strong></div>
                <div class="clearfix"></div>
              </ng-container>
              <ng-container *ngIf="passengerDetails.code == 'INF'">
                <div class="float-left">Infant X{{passengerDetails.numPassenger}}</div>
                <div class="float-right">
                  <strong>{{passengerDetails.passengerBasePrice | currency:'IDR ':'symbol':'2.0'}}</strong></div>
                <div class="clearfix"></div>
              </ng-container>
            </div>
            <div class="mt-1">
              <div class="float-left">Tax And Fees</div>
              <div class="float-right"><strong>{{(app.taxes + app.fees) | currency:'IDR ':'symbol':'2.0'}}</strong>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="card-footer">
            <div class="float-left">Total</div>
            <div class="float-right"><strong>{{app.totalPrice |currency:'IDR ':'symbol':'3.0'}}</strong></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="bookingInfoForm">
          <div class="row">
            <div class="col-md-12">
              <div class="card mb-3">
                <div class="card-header">
                  <div class="float-left">
                    <h5 class="box-title">Contact details - Booker</h5>
                  </div>
                </div>
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="title">Title</label>
                    <div class="col-sm-8">
                      <select [ngClass]="{ 'is-invalid': isControlHasError('title','required') }"
                              class="form-control" formControlName="title" id="title">
                        <option value="Mr">Mr</option>
                        <option value="Ms">Ms</option>
                        <option value="Miss">Miss</option>
                      </select>
                      <div *ngIf="isControlHasError('title','required')" class="invalid-feedback"
                           style="display: block">
                        Title is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="firstname">First Name</label>
                    <div class="col-sm-8">
                      <input [ngClass]="{ 'is-invalid': isControlHasError('firstname','required') }"
                             class="form-control" formControlName="firstname" id="firstname" type="text">
                      <div *ngIf="isControlHasError('firstname','required')" class="invalid-feedback"
                           style="display: block">
                        First Name is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="lastname">Last Name</label>
                    <div class="col-sm-8">
                      <input [ngClass]="{ 'is-invalid': isControlHasError('lastname','required') }"
                             class="form-control" formControlName="lastname" id="lastname" type="text">
                      <div *ngIf="isControlHasError('lastname','required')" class="invalid-feedback"
                           style="display: block">
                        Last Name is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="dob">Date of birth</label>
                    <div class="col-sm-8">
                      <input [ngClass]="{ 'is-invalid': isControlHasError('dob','required') }"
                             autocomplete="off" class="form-control datepicker-other" formControlName="dob" id="dob"
                             type="text">
                      <div *ngIf="isControlHasError('dob','required')" class="invalid-feedback"
                           style="display: block">
                        Date of Birth is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="email">Email address</label>
                    <div class="col-sm-8">
                      <input
                        [ngClass]="{ 'is-invalid': isControlHasError('email','required') ||  isControlHasError('email','email')}"
                        class="form-control" formControlName="email" id="email" type="text">
                      <div *ngIf="isControlHasError('email','required')" class="invalid-feedback"
                           style="display: block">
                        Email Address is required
                      </div>
                      <div *ngIf="isControlHasError('email','email')" class="invalid-feedback"
                           style="display: block">
                        Email Address must be a valid email address
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="phone">Mobile phone</label>
                    <div class="col-sm-8">
                      <input [ngClass]="{ 'is-invalid': isControlHasError('phone','required') }"
                             class="form-control" formControlName="phone" id="phone" type="text">
                      <div *ngIf="isControlHasError('phone','required')" class="invalid-feedback"
                           style="display: block">
                        Phone is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4 class="mb-3">Passenger details</h4>
              <div class="alert alert-warning">
                <h5>Double check your personal details</h5>
                <p class="mb-0">If the details are not correct, the passenger might be denied boarding. Often you will
                  then have to <span class="text-danger">buy a new (more expensive) ticket</span> or <span
                    class="text-danger">pay extra</span> to make changes.</p>
              </div>
              <ng-container *ngFor="let pt of passengerType; let i = index">
                <div *ngFor="let bf of bookingForm[i].controls; let j = index" [formGroup]="bf" class="card mb-2">
                  <ng-container *ngIf="bookingForm[i].value[j].passengerType == 'ADT'">
                    <div class="card-header">
                      <div class="float-left">
                        <h5 class="box-title">Adult {{j + 1}}</h5>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container
                    *ngIf="bookingForm[i].value[j].passengerType == 'CHD' || bookingForm[i].value[j].passengerType == 'CNN'">
                    <div class="card-header">
                      <div class="float-left">
                        <h5 class="box-title">Child {{j + 1}}</h5>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="bookingForm[i].value[j].passengerType == 'INF'">
                    <div class="card-header">
                      <div class="float-left">
                        <h5 class="box-title">Infant {{j + 1}}</h5>
                      </div>
                    </div>
                  </ng-container>
                  <div class="card-body">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Title</label>
                      <div class="col-sm-8">
                        <select [ngClass]="{'is-invalid': isControlHasErrorDynamic('passenger_title','required', i, j)}"
                                class="form-control" formControlName="passenger_title">
                          <option value="Mr">Mr</option>
                          <option value="Ms">Ms</option>
                          <option value="Miss">Miss</option>
                        </select>
                        <div *ngIf="isControlHasErrorDynamic('passenger_title','required', i, j)"
                             class="invalid-feedback"
                             style="display: block">
                          Passenger Title is required
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">First Name</label>
                      <div class="col-sm-8">
                        <input
                          [ngClass]="{'is-invalid': isControlHasErrorDynamic('passenger_firstname','required', i, j)}"
                          class="form-control" formControlName="passenger_firstname" type="text">
                        <div *ngIf="isControlHasErrorDynamic('passenger_firstname','required', i, j)"
                             class="invalid-feedback"
                             style="display: block">
                          Passenger First Name is required
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Last Name</label>
                      <div class="col-sm-8">
                        <input
                          [ngClass]="{'is-invalid': isControlHasErrorDynamic('passenger_lastname','required', i, j)}"
                          class="form-control" formControlName="passenger_lastname" type="text">
                        <div *ngIf="isControlHasErrorDynamic('passenger_lastname','required', i, j)"
                             class="invalid-feedback"
                             style="display: block">
                          Passenger Last Name is required
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Date of birth</label>
                      <div class="col-sm-8">
                        <input [ngClass]="{'is-invalid': isControlHasErrorDynamic('passenger_dob','required', i, j)}"
                               class="form-control datepicker-other" formControlName="passenger_dob" type="text">
                        <div *ngIf="isControlHasErrorDynamic('passenger_dob','required', i, j)"
                             class="invalid-feedback"
                             style="display: block">
                          Passenger Date of Birth is required
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Passport Number</label>
                      <div class="col-sm-8">
                        <input
                          [ngClass]="{'is-invalid': isControlHasErrorDynamic('passenger_passport','required', i, j)}"
                          class="form-control" formControlName="passenger_passport" type="text">
                        <div *ngIf="isControlHasErrorDynamic('passenger_passport','required', i, j)"
                             class="invalid-feedback"
                             style="display: block">
                          Passenger Passport is required
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Passport Expiry
                        Date</label>
                      <div class="col-sm-8">
                        <input
                          [ngClass]="{'is-invalid': isControlHasErrorDynamic('passenger_passportexpiry','required', i, j)}"
                          class="form-control datepicker-other" formControlName="passenger_passportexpiry"
                          type="text">
                        <div *ngIf="isControlHasErrorDynamic('passenger_passportexpiry','required', i, j)"
                             class="invalid-feedback"
                             style="display: block">
                          Passenger Passport Expiry is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="text-right">
            <button (click)="submitBook();" class="btn btn-success btn-lg" type="submit">Book<i
              class="fas fa-long-arrow-alt-right"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
