<section *ngIf="loadingPage" class="loadingValidatingPrice centered-loader text-center">
  <div class="centered-loader">
    <img src="./assets/images/loader.gif">
    <div class="theme-loading-body">
      <h2 class="theme-loading-title">Just a moment</h2>
      <p class="theme-loading-subtitle">We are validating for flights price </p>
    </div>
  </div>
</section>
<div *ngIf="!loadingPage && airPricePort as app" class="col-md-12">
  <div class="container">
    <mat-horizontal-stepper #stepper [linear]="isLinear" [selectedIndex]=stepperIndex>
      <mat-step [completed]="stepBookingDetailsComplete" [stepControl]="bookingInfoForm">
        <form [formGroup]="bookingInfoForm">
          <ng-template matStepLabel>Book</ng-template>
          <div class="row">
            <div class="col-md-12">
              <div class="card mb-2">
                <div class="card-header">
                  <h5 class="box-title">
                    Flight Details
                  </h5>
                </div>
                <div class="col-md-12">
                  <div *ngFor="let airSegment of app.airSegment" class="row mb-3" style="margin-top: 25px">
                    <div class="col-md-2 mb-3">
                      <div class="flight-section-airline-logo-wrap">
                        <img class="img-fluid img-circle airline-logo"
                             src="https://s1.travix.com/global/assets/airlineLogos/{{airSegment.Carrier}}.png">
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="row">
                        <div class="col-md-12">
                          <ul class="flight-details-schedule-list">
                            <li>
                              <i class="fa fa-plane flight-details-schedule-icon"></i>
                              <p class="flight-details-schedule-date">
                                {{airSegment.ArrivalTime | date: 'MMM dd, yyyy'}}</p>
                              <div class="flight-details-schedule-time">
                                {{airSegment.DepartureTime | date: 'hh:mm'}} -
                                {{airSegment.ArrivalTime | date: 'hh:mm'}}
                                ({{airSegment.FlightTime | minuteToHour}})
                              </div>
                              <div class="flight-details-schedule-destination">
                                <div style="float: left; min-width: 40%">
                                  <p style="font-weight: bold; margin-bottom: 0">
                                    {{airSegment.Origin}}
                                  </p>
                                  <p class="flight-details-schedule-destination-city">
                                    {{airSegment.Origin_city_name}}</p>
                                </div>
                                <div style="float: left; margin: 0 10px">
                                  <span>→</span>
                                </div>
                                <div style="float: left; min-width: 40%">
                                  <p style="font-weight: bold; margin-bottom: 0">
                                    {{airSegment.Destination}}
                                  </p>
                                  <p class="flight-details-schedule-destination-city">
                                    {{airSegment.Destination_city_name}}</p>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="card mb-3">
                <div class="card-header">
                  <div class="float-left">
                    <h5 class="box-title">Contact details - Booker</h5>
                  </div>
                </div>
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="title">Title</label>
                    <div class="col-sm-8">
                      <select [ngClass]="{ 'is-invalid': isControlHasError('title','required') }"
                              class="form-control" formControlName="title" id="title">
                        <option value="Mr">Mr</option>
                        <option value="Ms">Ms</option>
                        <option value="Miss">Miss</option>
                      </select>
                      <div *ngIf="isControlHasError('title','required')" class="invalid-feedback"
                           style="display: block">
                        Title is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="firstname">First Name</label>
                    <div class="col-sm-8">
                      <input [ngClass]="{ 'is-invalid': isControlHasError('firstname','required') }"
                             class="form-control" formControlName="firstname" id="firstname" type="text">
                      <div *ngIf="isControlHasError('firstname','required')" class="invalid-feedback"
                           style="display: block">
                        First Name is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="lastname">Last Name</label>
                    <div class="col-sm-8">
                      <input [ngClass]="{ 'is-invalid': isControlHasError('lastname','required') }"
                             class="form-control" formControlName="lastname" id="lastname" type="text">
                      <div *ngIf="isControlHasError('lastname','required')" class="invalid-feedback"
                           style="display: block">
                        Last Name is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="dob">Date of birth</label>
                    <div class="col-sm-8">
                      <input #d="ngbDatepicker"
                             (click)="d.toggle()"
                             [maxDate]="maxDateAdult"
                             [minDate]="minDateAdult"
                             [ngClass]="{ 'is-invalid': isControlHasError('dob','required') }"
                             class="form-control"
                             formControlName="dob"
                             maxlength="0" ngbDatepicker
                      >
                      <div *ngIf="isControlHasError('dob','required')" class="invalid-feedback"
                           style="display: block">
                        Date of Birth is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="email">Email address</label>
                    <div class="col-sm-8">
                      <input
                        [ngClass]="{ 'is-invalid': isControlHasError('email','required') ||  isControlHasError('email','email')}"
                        class="form-control" formControlName="email" id="email" type="text">
                      <div *ngIf="isControlHasError('email','required')" class="invalid-feedback"
                           style="display: block">
                        Email Address is required
                      </div>
                      <div *ngIf="isControlHasError('email','email')" class="invalid-feedback"
                           style="display: block">
                        Email Address must be a valid email address
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="phone">Mobile phone</label>
                    <div class="col-sm-8">
                      <input [ngClass]="{ 'is-invalid': isControlHasError('phone','required') }"
                             class="form-control" formControlName="phone" id="phone" type="text">
                      <div *ngIf="isControlHasError('phone','required')" class="invalid-feedback"
                           style="display: block">
                        Phone is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-header">
                  <h5 class="box-title">Detail Price</h5>
                </div>
                <div class="card-body pt-2 pb-3">
                  <div *ngFor="let passengerDetails of app.passengerType" class="mt-1">
                    <ng-container *ngIf="passengerDetails.code == 'ADT'">
                      <div class="float-left">Adult X{{passengerDetails.numPassenger}}</div>
                      <div class="float-right">
                        <strong>{{passengerDetails.passengerBasePrice | currency:'IDR ':'symbol':'2.0'}}</strong></div>
                      <div class="clearfix"></div>
                    </ng-container>
                    <ng-container *ngIf="passengerDetails.code == 'CHD' || passengerDetails.code == 'CNN'">
                      <div class="float-left">Child X{{passengerDetails.numPassenger}}</div>
                      <div class="float-right">
                        <strong>{{passengerDetails.passengerBasePrice | currency:'IDR ':'symbol':'2.0'}}</strong></div>
                      <div class="clearfix"></div>
                    </ng-container>
                    <ng-container *ngIf="passengerDetails.code == 'INF'">
                      <div class="float-left">Infant X{{passengerDetails.numPassenger}}</div>
                      <div class="float-right">
                        <strong>{{passengerDetails.passengerBasePrice | currency:'IDR ':'symbol':'2.0'}}</strong></div>
                      <div class="clearfix"></div>
                    </ng-container>
                  </div>
                  <div class="mt-1">
                    <div class="float-left">Tax And Fees</div>
                    <div class="float-right">
                      <strong>{{(app.taxes + app.fees) | currency:'IDR ':'symbol':'2.0'}}</strong>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="float-left">Total</div>
                  <div class="float-right"><strong>{{app.totalPrice |currency:'IDR ':'symbol':'3.0'}}</strong></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <h4 class="mb-3">Passenger details</h4>
              <ng-container *ngFor="let pt of passengerType; let i = index">
                <div *ngFor="let bf of bookingForm[i].controls; let j = index" [formGroup]="bf" class="card mb-2">
                  <ng-container *ngIf="bookingForm[i].value[j].passengerType == 'ADT'">
                    <div class="card-header">
                      <div class="float-left">
                        <h5 class="box-title">Adult {{j + 1}}</h5>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container
                    *ngIf="bookingForm[i].value[j].passengerType == 'CHD' || bookingForm[i].value[j].passengerType == 'CNN'">
                    <div class="card-header">
                      <div class="float-left">
                        <h5 class="box-title">Child {{j + 1}}</h5>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="bookingForm[i].value[j].passengerType == 'INF'">
                    <div class="card-header">
                      <div class="float-left">
                        <h5 class="box-title">Infant {{j + 1}}</h5>
                      </div>
                    </div>
                  </ng-container>
                  <div class="card-body">
                    <div class="alert alert-warning">
                      <p class="mb-0">Penting: Diperlukan passport minimal 6 bulan sejak tanggal keberangkatan untuk
                        perjalanan internasional atau transit ke luar negeri</p>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Title</label>
                      <div class="col-sm-8">
                        <select
                          [ngClass]="{'is-invalid': isControlHasErrorDynamic('passenger_title','required', i, j)}"
                          class="form-control" formControlName="passenger_title">
                          <option value="Mr">Mr</option>
                          <option value="Ms">Ms</option>
                          <option value="Miss">Miss</option>
                        </select>
                        <div *ngIf="isControlHasErrorDynamic('passenger_title','required', i, j)"
                             class="invalid-feedback"
                             style="display: block">
                          Passenger Title is required
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">First Name</label>
                      <div class="col-sm-8">
                        <input
                          [ngClass]="{'is-invalid': isControlHasErrorDynamic('passenger_firstname','required', i, j)}"
                          class="form-control" formControlName="passenger_firstname" type="text">
                        <div *ngIf="isControlHasErrorDynamic('passenger_firstname','required', i, j)"
                             class="invalid-feedback"
                             style="display: block">
                          Passenger First Name is required
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Last Name</label>
                      <div class="col-sm-8">
                        <input
                          [ngClass]="{'is-invalid': isControlHasErrorDynamic('passenger_lastname','required', i, j)}"
                          class="form-control" formControlName="passenger_lastname" type="text">
                        <div *ngIf="isControlHasErrorDynamic('passenger_lastname','required', i, j)"
                             class="invalid-feedback"
                             style="display: block">
                          Passenger Last Name is required
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Date of birth</label>
                      <div class="col-sm-8">
                        <ng-container *ngIf="bookingForm[i].value[j].passengerType == 'ADT'">
                          <input #d="ngbDatepicker"
                                 (click)="d.toggle()"
                                 [maxDate]="maxDateAdult"
                                 [minDate]="minDateAdult"
                                 [ngClass]="{ 'is-invalid': isControlHasError('passenger_dob','required') }"
                                 class="form-control"
                                 formControlName="passenger_dob"
                                 maxlength="0" ngbDatepicker
                          >
                        </ng-container>
                        <ng-container
                          *ngIf="bookingForm[i].value[j].passengerType == 'CHD' || bookingForm[i].value[j].passengerType == 'CNN'">
                          <input #d="ngbDatepicker"
                                 (click)="d.toggle()"
                                 [maxDate]="maxDateChild"
                                 [minDate]="minDateChild"
                                 [ngClass]="{ 'is-invalid': isControlHasError('passenger_dob','required') }"
                                 class="form-control"
                                 formControlName="passenger_dob"
                                 maxlength="0" ngbDatepicker
                          >
                        </ng-container>
                        <ng-container
                          *ngIf="bookingForm[i].value[j].passengerType == 'INF'">
                          <input #d="ngbDatepicker"
                                 (click)="d.toggle()"
                                 [maxDate]="maxDateInfant"
                                 [minDate]="minDateInfant"
                                 [ngClass]="{ 'is-invalid': isControlHasErrorDynamic('passenger_dob','required', i, j) }"
                                 class="form-control"
                                 formControlName="passenger_dob"
                                 maxlength="0" ngbDatepicker
                          >
                        </ng-container>
                        <div *ngIf="isControlHasErrorDynamic('passenger_dob','required', i, j)"
                             class="invalid-feedback"
                             style="display: block">
                          Passenger Date of Birth is required
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Passport Number</label>
                      <div class="col-sm-8">
                        <input
                          [ngClass]="{'is-invalid': isControlHasErrorDynamic('passenger_passport','required', i, j)}"
                          class="form-control" formControlName="passenger_passport" type="text">
                        <div *ngIf="isControlHasErrorDynamic('passenger_passport','required', i, j)"
                             class="invalid-feedback"
                             style="display: block">
                          Passenger Passport is required
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Passport Expiry
                        Date</label>
                      <div class="col-sm-8">
                        <input #d="ngbDatepicker"
                               (click)="d.toggle()"
                               [maxDate]="passportExpiredMaxDate"
                               [minDate]="passportExpiredMinDate"
                               [ngClass]="{ 'is-invalid': isControlHasErrorDynamic('passenger_passportexpiry','required', i, j) }"
                               class="form-control"
                               formControlName="passenger_passportexpiry"
                               maxlength="0" ngbDatepicker
                        >
                        <div *ngIf="isControlHasErrorDynamic('passenger_passportexpiry','required', i, j)"
                             class="invalid-feedback"
                             style="display: block">
                          Passenger Passport Expiry is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <div class="text-right">
                <button (click)="submitBook()" class="btn btn-success btn-group-sm" type="submit">Go to payment
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [completed]="stepPayComplete">
        <ng-template matStepLabel>Pay</ng-template>
        <ng-container *ngIf="!paymentData as pd">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12">
                <h4>Select Payment Channel</h4>
                <form [formGroup]="paymentChannel">
                  <div
                    *ngIf="isControlHasErrorPayment('bankCode','required') || isControlHasErrorPayment('productCode','required')"
                    class="invalid-feedback"
                    style="display: block">
                    Payment Channel harus dipilih
                  </div>
                  <ng-container *ngFor="let lpc of listPaymentChannel">
                    <label (click)="paymentChannelSelected(lpc.bankCode, lpc.productCode)"
                           [ngClass]="this.productCode == lpc.productCode ? 'active' : ''"
                           class="card card-body d-block p-3 mb-3 pointer" style="cursor: pointer">
                      <input [(ngModel)]="this.bankCode" formControlName="bankCode" type="hidden">
                      <div class="d-inline-block ml-2 mb-0 product-name">{{lpc.productName}}</div>
                      <img class="float-right" height="22"
                           src="https://kit.espay.id/images/products/{{lpc.productCode}}.png"/>
                      <div class="clearfix"></div>
                    </label>
                  </ng-container>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="text-left">
                        <button class="btn btn-success btn-lg" matStepperPrevious type="submit">Go Back</button>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="text-right">
                        <button (click)="submitPayment()" class="btn btn-success btn-lg" type="submit">Pay</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="paymentData as pd">
          <div style="font-size: 16px;color: #666;">
            <div class="text-center">
              <img src="./assets/images/banklogo/{{pd.bank_name}}.png" width="200px"/>
            </div>
            <br/>
            <div class="ttl3 text-center">Terima kasih telah menggunakan {{pd.bank_name}} Virtual Account</div>
            <ng-container *ngIf="leftTimePayment > 0">
              <div class="ttl3 text-center mb-2">Nomor {{pd.bank_name}} Virtual Account Anda adalah :</div>
              <div class="ttl1 text-center" style="color:#ed1942" style="font-weight: bold; font-size: 1.3rem">
                {{pd.va_number}}
              </div>
              <div class="text-center mb-3"
                   style="cursor: pointer; color: blue; text-decoration: underline; font-size: 12px">
                <span (click)="coppied()" [cbContent]="pd.va_number" ngxClipboard>Salin Nomor Virtual Account</span>
              </div>
            </ng-container>

            <div class="text-center" style="font-weight:bold; color:#666">
              <ng-container *ngIf="leftTimePayment == 0">
                Batas waktu pembayaran Anda telah
                <span class="blinking">Expired</span>
              </ng-container>
              <ng-container *ngIf="leftTimePayment > 0">
                Batas waktu pembayaran Anda adalah
                <countdown [config]="{leftTime: leftTimePayment}">$!h! Jam $!m! Menit $!s! Detik</countdown>
              </ng-container>
            </div>

            <ng-container *ngIf="leftTimePayment > 0">
              <div class="ttl3 text-center" style="padding:10px 30px">Silahkan lakukan pembayaran ke rekening virtual
                account diatas sejumlah <strong>Rp {{pd.amount | number:'1.0-0'}}</strong>.
              </div>
              <br/>
              <div class="row">
                <div class="col-md-12">
                  <div class="ttl3 mb-1"><b>CARA PEMBAYARAN</b></div>
                  <div>
                    <ol>
                      <li>Gunakan mesin ATM BANK PERMATA</li>
                      <li>Pilih Other Transaction</li>
                      <li>Pilih Payment</li>
                      <li>Pilih Other Payment</li>
                      <li>Masukan Nomor Pembayaran <b>{{pd.va_number}}</b>, lalu Pilih Correct</li>
                      <li>Informasi pembayaran akan tertera dan pilih Correct</li>
                      <li>Pilih Akun Pembayaran dan Pilih Correct</li>
                    </ol>
                  </div>
                  <br/>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </mat-step>
      <mat-step [completed]="stepProcessComplete">
        <ng-template matStepLabel>Selesai</ng-template>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>

<div *ngIf="validateBookingLoader" style="z-index: 999999;">
  <div class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto;">
    <div aria-busy="true" aria-describedby="swal2-content"
         aria-labelledby="swal2-title" aria-live="assertive" aria-modal="true"
         class="swal2-popup swal2-modal swal2-show swal2-loading"
         data-loading="true" role="dialog" style="display: flex;" tabindex="-1">
      <div class="swal2-content">
        <div class="swal2-html-container" id="swal2-content" style="display: block;">
          Kami sedang memproses pemesanan Anda. Ini mungkin memakan waktu beberapa menit.
        </div>
      </div>
      <div class="swal2-actions swal2-loading" style="display: flex;">
        <button aria-label="" class="swal2-confirm swal2-styled" disabled=""
                style="display: inline-block; border-left-color: #ed1942; border-right-color: #ed1942;"
                type="button">OK
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="bookingFailurePopUP" style="z-index: 999999;">
  <div class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto;">
    <div aria-busy="true" aria-describedby="swal2-content"
         aria-labelledby="swal2-title" aria-live="assertive" aria-modal="true"
         class="swal2-popup swal2-modal swal2-show swal2-loading"
         data-loading="true" role="dialog" style="display: flex;" tabindex="-1">
      <div class="swal2-header">
        <div class="swal2-icon swal2-error swal2-icon-show" style="display: flex;">
          <span class="swal2-x-mark">
            <span class="swal2-x-mark-line-left"></span>
            <span class="swal2-x-mark-line-right"></span>
          </span>
        </div>
      </div>
      <div class="swal2-content">
        <div class="swal2-html-container" id="swal2-content" style="display: block;">Booking tidak dapat kami proses,
          karena transaksi sudah tidak berlaku. Silahkan melakukan booking kembali
        </div>
      </div>
      <div class="swal2-actions">
        <button (click)="bookingFailurePopUPHide('redirectkehome')" aria-label="" class="swal2-confirm swal2-styled"
                style="display: inline-block; border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);"
                type="button">OK
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="bookingDataFormInvalid" style="z-index: 999999;">
  <div class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto;">
    <div aria-busy="true" aria-describedby="swal2-content"
         aria-labelledby="swal2-title" aria-live="assertive" aria-modal="true"
         class="swal2-popup swal2-modal swal2-show swal2-loading"
         data-loading="true" role="dialog" style="display: flex;" tabindex="-1">
      <div class="swal2-header">
        <div class="swal2-icon swal2-error swal2-icon-show" style="display: flex;">
          <span class="swal2-x-mark">
            <span class="swal2-x-mark-line-left"></span>
            <span class="swal2-x-mark-line-right"></span>
          </span>
        </div>
      </div>
      <div class="swal2-content">
        <div class="swal2-html-container" id="swal2-content" style="display: block;">Silahkan lengkapi form yang
          tersedia
        </div>
      </div>
      <div class="swal2-actions">
        <button (click)="bookingFailurePopUPHide()" aria-label="" class="swal2-confirm swal2-styled"
                style="display: inline-block; border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);"
                type="button">OK
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="priceUpdatedInformation" style="z-index: 999999;">
  <div class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto;">
    <div aria-busy="true" aria-describedby="swal2-content"
         aria-labelledby="swal2-title" aria-live="assertive" aria-modal="true"
         class="swal2-popup swal2-modal swal2-show swal2-loading"
         data-loading="true" role="dialog" style="display: flex;" tabindex="-1">
      <div class="swal2-header">
        <div class="swal2-icon swal2-info swal2-icon-show" style="display: flex;">
          <div class="swal2-icon-content">i</div>
        </div>
      </div>
      <div class="swal2-content">
        <div class="swal2-html-container" id="swal2-content" style="display: block;">
          Harga pesawat yang Anda ingin pesan telah berubah.
          <br>
          <br>
          Harga pesawat di waktu sebelumnya : <b>{{nonUpdatedPrice | currency:'IDR ':'symbol':'2.0'}}</b>
          <br>
          <br>
          Harga pesawat di waktu sekarang : <b>{{updatedPrice | currency:'IDR ':'symbol':'2.0'}}</b>
        </div>
      </div>
      <div class="swal2-actions">
        <button (click)="bookingFailurePopUPHide('none')" aria-label="" class="swal2-confirm swal2-styled"
                style="display: inline-block; border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);"
                type="button">OK
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="paymentFailed" style="z-index: 999999;">
  <div class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto;">
    <div aria-busy="true" aria-describedby="swal2-content"
         aria-labelledby="swal2-title" aria-live="assertive" aria-modal="true"
         class="swal2-popup swal2-modal swal2-show swal2-loading"
         data-loading="true" role="dialog" style="display: flex;" tabindex="-1">
      <div class="swal2-header">
        <div class="swal2-icon swal2-error swal2-icon-show" style="display: flex;">
          <span class="swal2-x-mark">
            <span class="swal2-x-mark-line-left"></span>
            <span class="swal2-x-mark-line-right"></span>
          </span>
        </div>
      </div>
      <div class="swal2-content">
        <div class="swal2-html-container" id="swal2-content" style="display: block;">Proses pembayaran tidak dapat
          dilakukan karena
          transaksi sudah tidak berlaku. Silahkan melakukan booking kembali
        </div>
      </div>
      <div class="swal2-actions">
        <button (click)="bookingFailurePopUPHide('redirectkehome')" aria-label="" class="swal2-confirm swal2-styled"
                style="display: inline-block; border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);"
                type="button">OK
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="paymentSuccess" style="z-index: 999999;">
  <div class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto;">
    <div aria-busy="true" aria-describedby="swal2-content"
         aria-labelledby="swal2-title" aria-live="assertive" aria-modal="true"
         class="swal2-popup swal2-modal swal2-show swal2-loading"
         data-loading="true" role="dialog" style="display: flex;" tabindex="-1">
      <div class="swal2-header">
        <div class="swal2-icon swal2-success swal2-icon-show" style="display: flex;">
          <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
          <span class="swal2-success-line-tip"></span> <span class="swal2-success-line-long"></span>
          <div class="swal2-success-ring"></div>
          <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
          <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
        </div>
      </div>
      <div class="swal2-content">
        <div class="swal2-html-container" id="swal2-content" style="display: block;">
          Proses pembayaran telah berhasil.
          <br>
          <br>
          Tiket telah kami kirimkan ke alamat e-mail yang Anda isikan saat melakukan pemesanan.
          <br>
          <br>
          Silahkan periksa inbox maupun folder spam di e-mail Anda.
          <br>
          <br>
          Jika Anda tidak merasa menerima tiket di dalam e-mail Anda, Anda dapat menghubungi customer service kami
          dengan menginformasikan kode booking.
        </div>
      </div>
    </div>
  </div>
</div>
