.loadingValidatingPrice {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: white;
}

.centered-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.active {
  border-left: solid 10px #81898a;
}

.blinking {
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    color: red;
  }
  49% {
    color: red;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: red;
  }
}

:host {
  ::ng-deep {
    .mat-horizontal-content-container {
      padding: unset;
    }

    .mat-horizontal-stepper-header {
      pointer-events: none !important;
    }

    .mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover {
      background-color: transparent !important;
    }
  }
}
