<form>
    <div class="title-container">
        <h2 class="search-title">Search and Book Hotels</h2>
        <p>We're bringing you a new level of comfort.</p>
        <i class="soap-icon-hotel"></i>
    </div>
    <div class="search-content">
        <h5 class="title">Where</h5>
        <label>Your Destination</label>
        <input type="text" class="input-text full-width" placeholder="enter a destination or hotel name">
        <hr>
        <h5 class="title">When</h5>
        <div class="row">
            <div class="col-xs-6">
                <label>Check In</label>
                <div class="datepicker-wrap">
                    <input type="text" class="input-text full-width hasDatepicker" placeholder="mm/dd/yy" id="dp1578368400661"><img class="ui-datepicker-trigger" src="images/icon/blank.png" alt="" title="">
                </div>
            </div>
            <div class="col-xs-6">
                <label>Check Out</label>
                <div class="datepicker-wrap">
                    <input type="text" class="input-text full-width hasDatepicker" placeholder="mm/dd/yy" id="dp1578368400662"><img class="ui-datepicker-trigger" src="images/icon/blank.png" alt="" title="">
                </div>
            </div>
        </div>
        <hr>
        <h5 class="title">Who</h5>
        <div class="row">
            <div class="col-xs-4">
                <label>ROOMS</label>
                <div class="selector">
                    <select class="full-width">
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                    </select><span class="custom-select full-width">01</span>
                </div>
            </div>
            <div class="col-xs-4">
                <label>ADULTS</label>
                <div class="selector">
                    <select class="full-width">
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                    </select><span class="custom-select full-width">01</span>
                </div>
            </div>
            <div class="col-xs-4">
                <label>KIDS</label>
                <div class="selector">
                    <select class="full-width">
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                    </select><span class="custom-select full-width">01</span>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="full-width uppercase">Proceed To Result</button>
    </div>
</form>