<form class="search-destination">
    <div class="row">
        <div class="box-title col-sm-6 col-6">
            <h2>
                <img src="./assets/images/ICONS/icon_hotel.png" class="icon_medium"> Booking Hotel
            </h2>
            <p>Booking hotel favorit anda dengan harga yang bersaing hanya di Jameka</p>
        </div>

        <div class="box-title col-sm-6 col-6"></div>
        <div style="clear: both;"></div>
        <div class="col-sm-12">
            <div class="search-destination-separator"></div>
        </div>
        <div style="clear: both;"></div>

        <div class="form-group col-sm-3 col-12">
            <label>
                <img src="./assets/images/ICONS/icon_destination.png" class="icon_small"> Tujuan
            </label>
            <input type="text" class="form-control" name="tujuan" placeholder="Tujuan">
        </div>
        <div class="form-group col-sm-3 col-6">
            <label>
                <img src="./assets/images/ICONS/icon_calendar.png" class="icon_small"> Check In
            </label>
            <input type="text" id="checkin_date" class="form-control checkin_date" placeholder="Check In">
        </div>
        <div class="form-group col-sm-3 col-6">
            <label>
                <img src="./assets/images/ICONS/icon_calendar.png" class="icon_small"> Check Out
            </label>
            <input type="text" id="checkin_date" class="form-control checkin_date" name="" placeholder="Check Out">
        </div>
        <div class="form-group col-sm-3">
            <label>
                <img src="./assets/images/ICONS/icon_passengers.png" class="icon_small"> Guest &
                <img src="./assets/images/ICONS/icon_building.png" class="icon_small"> Rooms
            </label>
            <input type="text" class="form-control" name="Guest & Rooms">
        </div>
        <div class="form-group col-sm-12">
            <button class="btn button-search-hotel col-sm-4" type="submit" name="simpan">
                <img src="./assets/images/ICONS/icon_building.png" class="icon_medium"> Cari Hotel
            </button>
        </div>
    </div>
</form>