<footer class="new_footer_area bg-white pt-0 pb-0">
  <div class="new_footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s"
               style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
            <h3 class="f-title f_600 t_color f_size_18">Pembayaran</h3>
            <img alt='Pembayaran list' class="img-fluid"
                 src="https://www.fixtrips.com/mart/asset/images/pembayaran.png">
            <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s"
                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
              <h3 class="f-title f_600 t_color f_size_18 mt-3">Pengiriman</h3>
              <img alt='Kurir list' class="img-fluid" src="https://www.fixtrips.com/mart/asset/images/kurir.png">
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s"
               style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
            <h3 class="f-title f_600 t_color f_size_18">Informasi</h3>
            <ul class="list-unstyled f_list">
              <li><a href="https://www.fixtrips.com/mart/hubungi">Hubungi Kami</a></li>
              <li><a href="https://www.fixtrips.com/mart/halaman/detail/tentang-kami">Tentang Kami</a></li>
              <li><a href="https://www.fixtrips.com/mart/halaman/detail/kebijakan-privasi">Kebijakan Privasi</a></li>
              <li><a href="https://www.fixtrips.com/mart/halaman/detail/seller-option">Seller Option</a></li>
              <li><a href="https://www.fixtrips.com/mart/halaman/detail/karir">Karir</a></li>
              <li><a href="https://www.fixtrips.com/mart/halaman/detail/sitemaps">Sitemaps</a></li>
              <li><a href="https://www.fixtrips.com/mart/faq">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s"
               style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
            <h3 class="f-title f_600 t_color f_size_18">Layanan</h3>
            <ul class="list-unstyled f_list">
              <li><a href="https://www.fixtrips.com/mart/auth/register">Pembeli</a></li>
              <li><a href="https://www.fixtrips.com/mart/halaman/detail/flight">Flight</a></li>
              <li><a href="https://www.fixtrips.com/mart/halaman/detail/esims">eSIMs</a></li>
              <li><a href="https://www.fixtrips.com/mart/halaman/detail/produk-promo">Produk Promo</a></li>
              <li><a href="#">Produk Terlaris</a></li>
              <li><a href="#">Produk Terbaru</a></li>
              <li><a href="https://www.fixtrips.com/mart/halaman/detail/brand-populer">Brand Populer</a></li>


            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s"
               style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
            <h3 class="f-title f_600 t_color f_size_18">Keamanan Transaksi</h3><img alt='Secured by list'
                                                                                    class="img-fluid"
                                                                                    src="https://www.fixtrips.com/mart/asset/images/Secured-by.png">

          </div>
          <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s"
               style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
            <h3 class="f-title f_600 t_color f_size_18 mt-3">Ikuti Kami</h3>
            <div class="f_social_icon mb-3">
              <a class="fab fa-facebook" href="https://www.facebook.com/Fix-Trips-358358004945157/"></a>
              <a class="fab fa-twitter" href="https://mobile.twitter.com/FixTrips"></a>
              <a class="fab fa-linkedin" href="https://www.linkedin.com/company/fixtrips/"></a>
              <a class="fab fa-pinterest" href="https://id.pinterest.com/gohateka/"></a>
              <a class="fab fa-instagram" href="https://www.instagram.com/fixtrips/"></a>
            </div>
            <form action="#" class="f_subscribe_two" method="post">
              <input class="form-control memail" name="EMAIL" placeholder="Email" type="text">
              <div class="d-flex justify-content-end">
                <button class="btn btn-outline-info mt-2" type="submit">Subscribe</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
    <div class="footer_bg">
      <div class="footer_bg_one"></div>
      <div class="footer_bg_two"></div>
    </div>
  </div>
</footer>

<!--
<footer class="another_page_footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="contact">
          <div class="logo">
            <img src="./assets/fixtrips/image/fixtrips.png">
          </div>
          <div class="contact_content">
            <span class="icon">
              <img src="./assets/fixtrips/image/phone_icon.png">
            </span>
            <div class="contact_phone">
              <span class="content_grey">Call Us</span>
              <br>
              <span><a href="tel:622188969105" target="_blank">+62-21-8896-9105</a></span>
            </div>
          </div>
          <div class="contact_content">
            <span class="icon">
              <img src="./assets/fixtrips/image/message_icon.png">
            </span>
            <div class="contact_phone">
              <span class="content_grey">Email </span>
              <br>
              <span><a href="mailto:cs@fixtrips.com" target="_blank">cs@fixtrips.com</a></span>
            </div>
          </div>
          <div class="contact_content">
            <span class="icon">
              <img alt="Whats app Icon" src="./assets/fixtrips/image/whatsapp_icon.png">
            </span>
            <div class="contact_phone">
              <span class="content_grey">Whatsapp</span>
              <br>
              <span><a href="tel:6282122911115" target="_blank">+62-821-2291-1115</a></span>
            </div>
          </div>
        </div>
        <div class="footer_list">
          <h2>Perusahaan</h2>
          &lt;!&ndash;          <ul>&ndash;&gt;
          &lt;!&ndash;            <li>&ndash;&gt;
          &lt;!&ndash;              <a href="#">Blog</a>&ndash;&gt;
          &lt;!&ndash;            </li>&ndash;&gt;
          &lt;!&ndash;            <li>&ndash;&gt;
          &lt;!&ndash;              <a href="#">Career</a>&ndash;&gt;
          &lt;!&ndash;            </li>&ndash;&gt;
          &lt;!&ndash;            <li>&ndash;&gt;
          &lt;!&ndash;              <a href="#">Corporate</a>&ndash;&gt;
          &lt;!&ndash;            </li>&ndash;&gt;
          &lt;!&ndash;            <li>&ndash;&gt;
          &lt;!&ndash;              <a href="#">Partner</a>&ndash;&gt;
          &lt;!&ndash;            </li>&ndash;&gt;
          &lt;!&ndash;            <li>&ndash;&gt;
          &lt;!&ndash;              <a href="#">TIX Point</a>&ndash;&gt;
          &lt;!&ndash;            </li>&ndash;&gt;
          &lt;!&ndash;            <li>&ndash;&gt;
          &lt;!&ndash;              <a href="#">Protection</a>&ndash;&gt;
          &lt;!&ndash;            </li>&ndash;&gt;
          &lt;!&ndash;            <li>&ndash;&gt;
          &lt;!&ndash;              <a href="#">Installment</a>&ndash;&gt;
          &lt;!&ndash;            </li>&ndash;&gt;
          &lt;!&ndash;            <li>&ndash;&gt;
          &lt;!&ndash;              <a href="#">Register Your Hotel</a>&ndash;&gt;
          &lt;!&ndash;            </li>&ndash;&gt;
          &lt;!&ndash;          </ul>&ndash;&gt;
        </div>
        <div class="footer_list">
          <h2>Product</h2>
          <ul>
            <li>
              <a routerLink="/flight">Flight</a>
            </li>
            &lt;!&ndash;            <li>&ndash;&gt;
            &lt;!&ndash;              <a href="#">Hotel</a>&ndash;&gt;
            &lt;!&ndash;            </li>&ndash;&gt;
            &lt;!&ndash;            <li>&ndash;&gt;
            &lt;!&ndash;              <a href="#">Train</a>&ndash;&gt;
            &lt;!&ndash;            </li>&ndash;&gt;
            &lt;!&ndash;            <li>&ndash;&gt;
            &lt;!&ndash;              <a href="#">Car Rental</a>&ndash;&gt;
            &lt;!&ndash;            </li>&ndash;&gt;
            &lt;!&ndash;            <li>&ndash;&gt;
            &lt;!&ndash;              <a href="#">Entertainment</a>&ndash;&gt;
            &lt;!&ndash;            </li>&ndash;&gt;
          </ul>
        </div>
        <div class="footer_list">
          <h2>Support</h2>
          &lt;!&ndash;          <ul>&ndash;&gt;
          &lt;!&ndash;            <li>&ndash;&gt;
          &lt;!&ndash;              <a href="#">Help Center</a>&ndash;&gt;
          &lt;!&ndash;            </li>&ndash;&gt;
          &lt;!&ndash;            <li>&ndash;&gt;
          &lt;!&ndash;              <a href="#">Terms and Conditions</a>&ndash;&gt;
          &lt;!&ndash;            </li>&ndash;&gt;
          &lt;!&ndash;            <li>&ndash;&gt;
          &lt;!&ndash;              <a href="#">Privacy and Policy</a>&ndash;&gt;
          &lt;!&ndash;            </li>&ndash;&gt;
          &lt;!&ndash;            <li>&ndash;&gt;
          &lt;!&ndash;              <a href="#">Worry-Free Fare</a>&ndash;&gt;
          &lt;!&ndash;            </li>&ndash;&gt;
          &lt;!&ndash;          </ul>&ndash;&gt;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="bottom_footer">
          <div class="transaction">
            <h3>Keamanan Transaksi Anda</h3>
            <div class="secure_transaction_content">
              <img alt="Visa" src="./assets/fixtrips/image/verified_visa.png">
              <img alt="MasterCard" src="./assets/fixtrips/image/master_card.png">
            </div>
          </div>
          <div class="awards">
            <h3>Penghargaan</h3>
            <div class="awards_content">
              <img alt="Iata" class="iata" src="./assets/fixtrips/image/iata.png">
              <img alt="TopBrand" class="top-brand" src="./assets/fixtrips/image/topBrand.png">
              <img alt="Superbrand" class="super-brand" src="./assets/fixtrips/image/superbrand.png">
            </div>
          </div>
          &lt;!&ndash;          <div class="footer_follow_us">&ndash;&gt;
          &lt;!&ndash;            <h3>Follow Us</h3>&ndash;&gt;
          &lt;!&ndash;            <div class="follow_us_content">&ndash;&gt;
          &lt;!&ndash;              <a class="follow_us" href="#" target="_blank">&ndash;&gt;
          &lt;!&ndash;                <i class="fa fa-facebook"></i>&ndash;&gt;
          &lt;!&ndash;              </a>&ndash;&gt;
          &lt;!&ndash;              <a class="follow_us" href="#" target="_blank">&ndash;&gt;
          &lt;!&ndash;                <i class="fa fa-twitter"></i>&ndash;&gt;
          &lt;!&ndash;              </a>&ndash;&gt;
          &lt;!&ndash;              <a class="follow_us" href="#" target="_blank">&ndash;&gt;
          &lt;!&ndash;                <i class="fa fa-linkedin"></i>&ndash;&gt;
          &lt;!&ndash;              </a>&ndash;&gt;
          &lt;!&ndash;              <a class="follow_us" href="#" target="_blank">&ndash;&gt;
          &lt;!&ndash;                <i class="fa fa-youtube-play"></i>&ndash;&gt;
          &lt;!&ndash;              </a>&ndash;&gt;
          &lt;!&ndash;            </div>&ndash;&gt;
          &lt;!&ndash;          </div>&ndash;&gt;
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</footer>
-->
