<header class="another_page_header">
  <div class="top_header top_header_account" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="logoshow">
            <div class="logo">
              <a routerLink="">
                <img alt="Logo" src="./assets/fixtrips/image/fixtrips.png" style="width: 135px;">
              </a>
            </div>
          </div>

          <!--          <div class="left_panel" style="height: 100%">-->
          <!--            <ul style="height: 100%; display: flex; align-items: center">-->
          <!--              <li>-->
          <!--                <a href="#">Promo</a>-->
          <!--              </li>-->
          <!--              <li>-->
          <!--                <a href="#">Help Center</a>-->
          <!--              </li>-->

          <!--            </ul>-->
          <!--          </div>-->
          <div class="right_panel" style="height: 100%">
            <ul style="height: 100%; display: flex; align-items: center">
              <!--              <li class="welcome">-->
              <!--                <span id="welcome_button">Login<i class="fa fa-user"></i></span>-->
              <!--                <div class="welcome_content_panel" id="welcome_content">-->
              <!--                  <ul>-->
              <!--                    <li>-->
              <!--                      <a href="#">Credit USD-->
              <!--                        0</a>-->
              <!--                    </li>-->
              <!--                    <li>-->
              <!--                      <a href="#">My-->
              <!--                        Account</a>-->
              <!--                    </li>-->
              <!--                    <li>-->
              <!--                      <a href="#">Log-->
              <!--                        Out</a>-->
              <!--                    </li>-->
              <!--                  </ul>-->
              <!--                </div>-->
              <!--              </li>-->
              <!--              <li class="agent_register">-->
              <!--                <a href="#">Register</a>-->
              <!--              </li>-->
              <li>
                <i class="fa fa-search" style="margin-right: 5px; display: inline-block;"></i>
                <a routerLink="/retrieve-booking">Retrieve Booking</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="login_full">
    <!-- LOGIN POPUP -->
    <div class="login-popup">
      <!-- Modal -->
      <div class="modal fade" id="divLoginPopup1">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Recover your Password</h4>
            </div>
            <div class="modal-body">
              <div class="login-popup-panel">
                <div class="popup-header">
                  <span class="title">LOGIN</span>
                  <button class="close" data-dismiss="modal" type="button">×</button>
                </div>
                <div class="registration-content">
                  <div class="form-full">
                    <div class="form-group">
                      <label class="positeion-relative">
                        <input class="form-control" placeholder="Email" type="text">
                        <span class="icon"><i class="fa fa-user"></i></span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="positeion-relative">
                        <input class="form-control" placeholder="Password" type="password">
                        <span class="icon"><i class="fa fa-lock"></i></span>
                      </label>
                    </div>
                    <span class="forgot-password" data-target="#divForgotPassword-loginpopup" data-toggle="modal">Forgot your password?</span>
                    <a class="login-btn" href="#"><i class="fa fa-sign-in"></i>&nbsp;Login</a>
                    <div class="or">
                      <span class="circle">or</span>
                    </div>
                    <div class="facebook-google-panel">
                      <div class="row padding0">
                        <div class="col-sm-6">
                          <div class="fg-login">
                            <span class="icon"><i class="fa fa-facebook"></i></span>
                            <span class="text">Facebook</span>
                          </div>
                        </div>
                        <div class="col-sm-6">
<!--
                          <div class="fg-login google-login">
                            <span class="icon"><img alt="Google Plus Icon" src="image/gplus_button_logo.png"></span>
                            <span class="text">Google</span>
                          </div>
-->
                        </div>
                      </div>
                    </div>
                    <span class="line-partition"></span>
                    <p class="sign-uptext">
                      Not have an Account Yet?
                      <a data-target="#divSignupPopup" data-toggle="modal" href="#">Sign up
                        now!</a>
                    </p>
                    <!--<p class="sign-uptext agent-login"><a href="AgentLogin.html">Agent Login</a></p>-->
                  </div>

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- FORGOT PASSWORD POPUP -->
    <div class="login-forgotpopup">
      <!-- Modal -->
      <div class="modal fade" id="divForgotPassword-loginpopup" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Recover your Password</h4>
            </div>
            <div class="modal-body">
              <div class="forgot-password-panel">
                <button class="close" data-dismiss="modal" type="button">×</button>
                <div class="key-outer">
                  <div class="key">
                    <span class="icon"><i class="fa fa-key"></i></span>
                  </div>
                </div>
                <h3>Recover Your Password</h3>
                <input placeholder="User Name" type="text">
                <input type="submit" value="Reset my Password">
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- SINGUP POPUP -->
    <div class="login-popup">
      <!-- Modal -->
      <div class="modal fade" id="divSignupPopup">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Recover your Password</h4>
            </div>
            <div class="modal-body">
              <div class="login-popup-panel">
                <div class="popup-header">
                  <span class="title">Create your account</span>
                  <button class="close" data-dismiss="modal" type="button">×</button>
                </div>


                <div class="registration-content">
                  <div class="form-full">
                    <div class="form-group">
                      <label class="positeion-relative">
                        <input class="form-control" placeholder="Name" type="text">
                        <span class="icon"><i class="fa fa-user"></i></span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="positeion-relative">
                        <input class="form-control" placeholder="Phone No" type="text">
                        <span class="icon"><i class="fa fa-phone"></i></span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="positeion-relative">
                        <input class="form-control" placeholder="Email" type="text">
                        <span class="icon"><i class="fa fa-user"></i></span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="positeion-relative">
                        <input class="form-control" placeholder="Password" type="password">
                        <span class="icon"><i class="fa fa-lock"></i></span>
                      </label>
                    </div>
                    <a class="login-btn" href="#">Create Your Account</a>
                    <div class="or">
                      <span class="circle">or</span>
                    </div>
                    <div class="facebook-google-panel">
                      <div class="row padding0">
                        <div class="col-sm-6">
                          <div class="fg-login">
                            <span class="icon"><i class="fa fa-facebook"></i></span>
                            <span class="text">Facebook</span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <!--
                                                    <div class="fg-login google-login">
                                                      <span class="icon"><img alt="Google Plus Icon" src="image/gplus_button_logo.png"></span>
                                                      <span class="text">Google</span>
                                                    </div>
                          -->
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
