<app-header></app-header>
<div class="main_content">
  <div class="page_left_panel scrollbar" id="style-4">
    <div class="sidetab">
      <a class="textbtn" href="#" id="showPanel">Menu</a>
      <a class="textbtnclose" href="#" id="hidePanel">×</a>
    </div>
    <div class="banner_tab_left">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <div class="inner_tab">
              <ul class="nav nav-tabs" role="tablist">
                <li class="active" role="presentation">
                  <div class="inner_list">
                    <a routerLink="/flight">
                      <div class="image">
                        <img src="./assets/fixtrips/image/pesawat_icon.png">
                      </div>
                      <span>Flights</span>
                    </a>
                  </div>
                </li>
                <!--                <li role="presentation" routerLinkActive="active">-->
                <!--                  <div class="inner_list">-->
                <!--                    <a routerLink="/hotel">-->
                <!--                      <div class="image">-->
                <!--                        <img src="./assets/fixtrips/image/hotel_icon.png">-->
                <!--                      </div>-->
                <!--                      <span>Recreation</span>-->
                <!--                    </a>-->
                <!--                  </div>-->
                <!--                </li>-->
                <!--                <li role="presentation">-->
                <!--                  <div class="inner_list">-->
                <!--                    <a routerLink="/recreation">-->
                <!--                      <div class="image">-->
                <!--                        <img src="./assets/fixtrips/image/hotel_icon.png">-->
                <!--                      </div>-->
                <!--                      <span>Recreation</span>-->
                <!--                    </a>-->
                <!--                  </div>-->
                <!--                </li>-->
                <!--                <li role="presentation" routerLinkActive="active">-->
                <!--                  <div class="inner_list">-->
                <!--                    <a routerLink="/transport">-->
                <!--                      <div class="image">-->
                <!--                        <img src="./assets/fixtrips/image/transport_icon.png">-->
                <!--                      </div>-->
                <!--                      <span>Transportation</span>-->
                <!--                    </a>-->
                <!--                  </div>-->
                <!--                </li>-->
                <!--                <li role="presentation" routerLinkActive="active">-->
                <!--                  <div class="inner_list">-->
                <!--                    <a routerLink="/attraction">-->
                <!--                      <div class="image">-->
                <!--                        <img src="./assets/fixtrips/image/attraction_icon.png">-->
                <!--                      </div>-->
                <!--                      <span>Attraction</span>-->
                <!--                    </a>-->
                <!--                  </div>-->
                <!--                </li>-->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container div_container">
    <div class="page_right_panel">
      <div class="banner main-banner">
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let s of slider">
            <ng-template [id]="s.id" carouselSlide>
              <img [src]="'./assets/fixtrips/image/1.jpg'">
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
      <div class="banner_tab">
        <div class="row">
          <div class="col-md-12">
            <div class="content">
              <div class="inner_content">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--      <div class="flight">-->
      <!--        <div class="row">-->
      <!--          <div class="col-md-6">-->
      <!--            <div class="content">-->
      <!--              <div class="image">-->
      <!--                <img src="./assets/fixtrips/image/1(1).jpg">-->
      <!--              </div>-->
      <!--              <div class="inner_content">-->
      <!--                <h2>Jakarta - Jeddah</h2>-->
      <!--                <h3>Sat, 28 Sep - Wed, 2 Oct</h3>-->
      <!--                <h4>1 Stop . 12 h 10 m</h4>-->
      <!--                <h5>Rp3.000.000</h5>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--            <div class="content">-->
      <!--              <div class="image">-->
      <!--                <img src="./assets/fixtrips/image/2(1).jpg">-->
      <!--              </div>-->
      <!--              <div class="inner_content">-->
      <!--                <h2>Madinah Pullman</h2>-->
      <!--                <h3>Sat, 28 Sep - Wed, 2 Oct</h3>-->
      <!--                <h4>Non-stop . 45 m</h4>-->
      <!--                <h5>Rp3.000.000</h5>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--          <div class="col-md-6">-->
      <!--            <div class="content">-->
      <!--              <div class="image">-->
      <!--                <img src="./assets/fixtrips/image/1(1).jpg">-->
      <!--              </div>-->
      <!--              <div class="inner_content">-->
      <!--                <h2>Jambi</h2>-->
      <!--                <h3>Sat, 28 Sep - Wed, 2 Oct</h3>-->
      <!--                <h4>1 stop . 12 h 10 m</h4>-->
      <!--                <h5>Rp3.000.000</h5>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--            <div class="content">-->
      <!--              <div class="image">-->
      <!--                <img src="./assets/fixtrips/image/2(1).jpg">-->
      <!--              </div>-->
      <!--              <div class="inner_content">-->
      <!--                <h2>Penang</h2>-->
      <!--                <h3>Sat, 28 Sep - Wed, 2 Oct</h3>-->
      <!--                <h4>Non-stop . 45 m</h4>-->
      <!--                <h5>Rp3.000.000</h5>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--          <div class="col-md-12">-->
      <!--            <div class="view_all">-->
      <!--              <a href="#">View All</a>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
</div>
<app-footer></app-footer>
