<section class="ftco-section" style="padding: 0;">
    <div class="container">
        <h4 class="col-sm-3  menu-filter-pc" align="center">Filter</h4>
        <div class="row">
            <div class="col-sm-3 col-md-3  menu-filter-pc">
                <div class="card">
                    <h4 class="mb-4" align="center" style="margin-top: 30px;margin-bottom: 10px;">Airlines</h4>
                    <ul style="list-style:none;float: left;">
                        <li><input type="checkbox" style="background:#09f;"> Garuda Airlines</li>
                        <li><input type="checkbox"> Batik Air</li>
                        <li><input type="checkbox"> Qatar Airways</li>
                        <li><input type="checkbox"> Lion Air</li>
                        <li><input type="checkbox"> AirAsia</li>
                    </ul>
                </div><br>

                <div class="card">
                    <h4 class="mb-4" align="center" style="margin-top: 30px;margin-bottom: 10px;">Transit</h4>
                    <ul style="list-style:none;">
                        <li><input type="checkbox" name="num_stop">  Langsung</li>
                        <li><input type="checkbox" name="num_stop">  1 Transit</li>
                        <li><input type="checkbox" name="num_stop">  2+ Transit</li>
                    </ul>
                </div>
                <div class="card" style="margin-top: 30px;margin-bottom: 10px;">
                    <h4 class="mb-4" align="center" style="margin-top: 30px;margin-bottom: 10px;">Fasilitas</h4>
                    <ul style="list-style: none;">
                        <li><input type="checkbox" name="">&nbsp;&nbsp;&nbsp;<i class="fa fa-suitcase"></i> Bagasi</li>
                        <li><input type="checkbox" name="">&nbsp;&nbsp;&nbsp;<i class="fa fa-utensils"></i> Makanan</li>
                    </ul>
                </div>
            </div><br>
            <div class="col-sm-9 col-md-9">
                <div class="card card-ticket" *ngFor="let dataflight of dataFlightSearch">
                    <div class="row">
                        <div class="col-md-10 text-center">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="flight-section-airline-logo-wrap">
                                        <img src="https://s1.travix.com/global/assets/airlineLogos/{{dataflight.transData[0].platingCarrier}}.png" class="img-fluid img-circle airline-logo">
                                    </div>
                                </div>
                                <ng-container *ngIf="dataflight.stop == 1">
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="title-ticket">{{dataflight.transData[0].departureTime | date: 'hh:mm'}}</p>
                                                <p class="destination-title">{{dataflight.transData[0].origin_city_name}}</p>
                                                <p class="destination-date">{{dataflight.transData[0].departureTime | date: 'MMM dd, yyyy'}}</p>
                                            </div>

                                            <div class="col-md-6 text-center">
                                                <div class="flight-section-path">
                                                    <div class="flight-section-fly-time">
                                                        <p>{{dataflight.transData[0].flightTime | minuteToHour}}</p>
                                                    </div>
                                                    <div class="flight-section-path-line"></div>
                                                    <div>
                                                        <div class="flight-section-path-line-start">
                                                            <i class="fa fa-plane flight-section-path-icon"></i>
                                                            <div class="flight-section-path-line-dot"></div>
                                                            <div class="flight-section-path-line-title">{{dataflight.transData[0].origin}}</div>
                                                        </div>

                                                        <div class="flight-section-path-line-middle">
                                                            <i class="fa fa-plane flight-section-path-icon"></i>
                                                            <div class="flight-section-path-line-dot" style="visibility: hidden"></div>
                                                            <div class="flight-section-path-line-title">Direct</div>
                                                        </div>

                                                        <div>
                                                            <div class="flight-section-path-line-end">
                                                                <i class="fa fa-plane flight-section-path-icon"></i>
                                                                <div class="flight-section-path-line-dot"></div>
                                                                <div class="flight-section-path-line-title">{{dataflight.transData[0].destination}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <p class="title-ticket">{{dataflight.transData[0].arrivalTime | date: 'hh:mm'}}</p>
                                                <p class="destination-title">{{dataflight.transData[0].destination_city_name}}</p>
                                                <p class="destination-date">{{dataflight.transData[0].arrivalTime | date: 'MMM dd, yyyy'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="dataflight.stop == 2">
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="title-ticket">{{dataflight.transData[0].departureTime | date: 'hh:mm'}}</p>
                                                <p class="destination-title">{{dataflight.transData[0].origin_city_name}}</p>
                                                <p class="destination-date">{{dataflight.transData[0].departureTime | date: 'MMM dd, yyyy'}}</p>
                                            </div>

                                            <div class="col-md-6 text-center">
                                                <div class="flight-section-path">
                                                    <div class="flight-section-fly-time">
                                                        <p>{{(dataflight.transData[0].flightTime + dataflight.transData[1].flightTime) | minuteToHour}} ({{(dataflight.stop) - 1}} Transit)</p>
                                                    </div>
                                                    <div class="flight-section-path-line"></div>
                                                    <div>
                                                        <div class="flight-section-path-line-start">
                                                            <i class="fa fa-plane flight-section-path-icon"></i>
                                                            <div class="flight-section-path-line-dot"></div>
                                                            <div class="flight-section-path-line-title">{{dataflight.transData[0].origin}}</div>
                                                        </div>

                                                        <div class="flight-section-path-line-middle">
                                                            <i class="fa fa-plane flight-section-path-icon"></i>
                                                            <div class="flight-section-path-line-dot"></div>
                                                            <div class="flight-section-path-line-title">{{dataflight.transData[0].destination}}</div>
                                                        </div>

                                                        <div>
                                                            <div class="flight-section-path-line-end">
                                                                <i class="fa fa-plane flight-section-path-icon"></i>
                                                                <div class="flight-section-path-line-dot"></div>
                                                                <div class="flight-section-path-line-title">{{dataflight.transData[1].destination}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <p class="title-ticket">{{dataflight.transData[1].arrivalTime | date: 'hh:mm'}}</p>
                                                <p class="destination-title">{{dataflight.transData[1].destination_city_name}}</p>
                                                <p class="destination-date">{{dataflight.transData[1].arrivalTime | date: 'MMM dd, yyyy'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>

                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6 col-xs-12">
                                    <div class="title-maskapai">
                                        {{dataflight.transData[0].platingCarrierName}}
                                        <span>{{dataflight.transData[0].flightNumber}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <p style="font-size: 12pt; margin-bottom: 0px"><strong>{{dataflight.totalPrice | currency:'IDR ':'symbol':'3.0'}}</strong></p>

                            <button class="btn btn-warning  button-search-flight-ticket">Book flight</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>