<section style="position: absolute; top: 15%; left: 10%; right: 10%">
    <div class="container">
        <div class="modal modal-tiket" [ngStyle]="searchClicked?{'display': 'block'} : {'display': 'none'}"></div>
        <div class="row no-gutters" (click)="searchClickedEvent()" (clickOutside)="searchClickedEventOut($event)">
            <div class="col-md-11 tab-wrap col-centered content-booking-ticket" [ngStyle]="searchClicked?{'z-index': '1051'} : {'z-index': '0'}">
                <div class="row">
                    <div class="col-sm-3 nav-link-wrap">
                        <div class="nav nav-pills justify-content-center menu-travel">
                            <a class="nav-link nav-link-categori" routerLinkActive="active" routerLink="/flight">
                                <img src="./assets/images/ICONS/icon_pesawat.png" style="width: 30px;height: 30px;"> Pesawat
                            </a>

                            <a class="nav-link nav-link-categori" routerLinkActive="active" routerLink="/hotel">
                                <img src="./assets/images/ICONS/icon_hotel.png" style="width: 30px;height: 30px;"> Hotel
                            </a>

                            <!--<a class="nav-link nav-link-categori">-->
                                <!--<img src="./assets/images/ICONS/icon_kereta.png" style="width: 30px;height: 30px;"> Kereta-->
                            <!--</a>-->
                        </div>
                    </div>

                    <div class="col-sm-9">
                        <div class="card pull-right menu-travel">
                            <div class="tab-content">
                                <div class="tab-pane fade show active">
                                    <router-outlet></router-outlet>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section class="ftco-section" style="padding: 0;">-->
    <!--<div class="container">-->
        <!--<h4 class="col-sm-3  menu-filter-pc" align="center">Filter</h4>-->
        <!--<div class="row">-->
            <!--<div class="col-sm-3 col-md-3  menu-filter-pc">-->
                <!--<div class="card">-->
                    <!--<h4 class="mb-4" align="center" style="margin-top: 30px;margin-bottom: 10px;">Airlines</h4>-->
                    <!--<ul style="list-style:none;float: left;">-->
                        <!--<li><input type="checkbox" style="background:#09f;"> Garuda Airlines</li>-->
                        <!--<li><input type="checkbox"> Batik Air</li>-->
                        <!--<li><input type="checkbox"> Qatar Airways</li>-->
                        <!--<li><input type="checkbox"> Lion Air</li>-->
                        <!--<li><input type="checkbox"> AirAsia</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<br>-->

                <!--<div class="card">-->
                    <!--<h4 class="mb-4" align="center" style="margin-top: 30px;margin-bottom: 10px;">Transit</h4>-->
                    <!--<ul style="list-style:none;">-->
                        <!--<li><input type="checkbox" name="num_stop"> Langsung</li>-->
                        <!--<li><input type="checkbox" name="num_stop"> 1 Transit</li>-->
                        <!--<li><input type="checkbox" name="num_stop"> 2+ Transit</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="card" style="margin-top: 30px;margin-bottom: 10px;">-->
                    <!--<h4 class="mb-4" align="center" style="margin-top: 30px;margin-bottom: 10px;">Fasilitas</h4>-->
                    <!--<ul style="list-style: none;">-->
                        <!--<li><input type="checkbox" name="">&nbsp;&nbsp;&nbsp;<i class="fa fa-suitcase"></i> Bagasi</li>-->
                        <!--<li><input type="checkbox" name="">&nbsp;&nbsp;&nbsp;<i class="fa fa-utensils"></i> Makanan</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<br>-->
            <!--<div class="col-sm-9 col-md-9">-->
                <!--<div class="card card-ticket" *ngFor="let dataflight of dataFlightSearch; let i = index">-->
                    <!--<div class="row"-->
                         <!--(click)="flightDetailsAllCollapsed([i]); flightDetailsCollapsed[i] = !flightDetailsCollapsed[i]"-->
                         <!--[attr.aria-expanded]="!flightDetailsCollapsed">-->
                        <!--<div class="col-md-10 text-center">-->
                            <!--<div class="row">-->
                                <!--<div class="col-md-2 mb-3">-->
                                    <!--<div class="flight-section-airline-logo-wrap">-->
                                        <!--<img src="https://s1.travix.com/global/assets/airlineLogos/{{dataflight.transData[0].platingCarrier}}.png"-->
                                             <!--class="img-fluid img-circle airline-logo">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<ng-container *ngIf="dataflight.stop == 1">-->
                                    <!--<div class="col-md-10">-->
                                        <!--<div class="row">-->
                                            <!--<div class="col-md-3">-->
                                                <!--<p class="title-ticket">{{dataflight.transData[0].departureTime | date:-->
                                                    <!--'hh:mm'}}</p>-->
                                                <!--<p class="destination-title">-->
                                                    <!--{{dataflight.transData[0].origin_city_name}}</p>-->
                                                <!--<p class="destination-date">{{dataflight.transData[0].departureTime |-->
                                                    <!--date: 'MMM dd, yyyy'}}</p>-->
                                            <!--</div>-->

                                            <!--<div class="col-md-6 text-center">-->
                                                <!--<div class="flight-section-path">-->
                                                    <!--<div class="flight-section-fly-time">-->
                                                        <!--<p>{{dataflight.transData[0].flightTime | minuteToHour}}</p>-->
                                                    <!--</div>-->
                                                    <!--<div class="flight-section-path-line"></div>-->
                                                    <!--<div>-->
                                                        <!--<div class="flight-section-path-line-start">-->
                                                            <!--<i class="fa fa-plane flight-section-path-icon"></i>-->
                                                            <!--<div class="flight-section-path-line-dot"></div>-->
                                                            <!--<div class="flight-section-path-line-title">-->
                                                                <!--{{dataflight.transData[0].origin}}-->
                                                            <!--</div>-->
                                                        <!--</div>-->

                                                        <!--<div class="flight-section-path-line-middle">-->
                                                            <!--<i class="fa fa-plane flight-section-path-icon"></i>-->
                                                            <!--<div class="flight-section-path-line-dot"-->
                                                                 <!--style="visibility: hidden"></div>-->
                                                            <!--<div class="flight-section-path-line-title">Direct</div>-->
                                                        <!--</div>-->

                                                        <!--<div>-->
                                                            <!--<div class="flight-section-path-line-end">-->
                                                                <!--<i class="fa fa-plane flight-section-path-icon"></i>-->
                                                                <!--<div class="flight-section-path-line-dot"></div>-->
                                                                <!--<div class="flight-section-path-line-title">-->
                                                                    <!--{{dataflight.transData[0].destination}}-->
                                                                <!--</div>-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--<div class="col-md-3">-->
                                                <!--<p class="title-ticket">{{dataflight.transData[0].arrivalTime | date:-->
                                                    <!--'hh:mm'}}</p>-->
                                                <!--<p class="destination-title">-->
                                                    <!--{{dataflight.transData[0].destination_city_name}}</p>-->
                                                <!--<p class="destination-date">{{dataflight.transData[0].arrivalTime |-->
                                                    <!--date: 'MMM dd, yyyy'}}</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</ng-container>-->

                                <!--<ng-container *ngIf="dataflight.stop == 2">-->
                                    <!--<div class="col-md-10">-->
                                        <!--<div class="row">-->
                                            <!--<div class="col-md-3">-->
                                                <!--<p class="title-ticket">{{dataflight.transData[0].departureTime | date:-->
                                                    <!--'hh:mm'}}</p>-->
                                                <!--<p class="destination-title">-->
                                                    <!--{{dataflight.transData[0].origin_city_name}}</p>-->
                                                <!--<p class="destination-date">{{dataflight.transData[0].departureTime |-->
                                                    <!--date: 'MMM dd, yyyy'}}</p>-->
                                            <!--</div>-->

                                            <!--<div class="col-md-6 text-center">-->
                                                <!--<div class="flight-section-path">-->
                                                    <!--<div class="flight-section-fly-time">-->
                                                        <!--<p>{{(dataflight.transData[0].flightTime +-->
                                                            <!--dataflight.transData[1].flightTime) | minuteToHour}},-->
                                                            <!--{{(dataflight.stop) - 1}} Transit</p>-->
                                                    <!--</div>-->
                                                    <!--<div class="flight-section-path-line"></div>-->
                                                    <!--<div>-->
                                                        <!--<div class="flight-section-path-line-start">-->
                                                            <!--<i class="fa fa-plane flight-section-path-icon"></i>-->
                                                            <!--<div class="flight-section-path-line-dot"></div>-->
                                                            <!--<div class="flight-section-path-line-title">-->
                                                                <!--{{dataflight.transData[0].origin}}-->
                                                            <!--</div>-->
                                                        <!--</div>-->

                                                        <!--<div class="flight-section-path-line-middle">-->
                                                            <!--<i class="fa fa-plane flight-section-path-icon"></i>-->
                                                            <!--<div class="flight-section-path-line-dot"></div>-->
                                                            <!--<div class="flight-section-path-line-title">-->
                                                                <!--{{dataflight.transData[0].destination}}-->
                                                            <!--</div>-->
                                                        <!--</div>-->

                                                        <!--<div>-->
                                                            <!--<div class="flight-section-path-line-end">-->
                                                                <!--<i class="fa fa-plane flight-section-path-icon"></i>-->
                                                                <!--<div class="flight-section-path-line-dot"></div>-->
                                                                <!--<div class="flight-section-path-line-title">-->
                                                                    <!--{{dataflight.transData[1].destination}}-->
                                                                <!--</div>-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--<div class="col-md-3">-->
                                                <!--<p class="title-ticket">{{dataflight.transData[1].arrivalTime | date:-->
                                                    <!--'hh:mm'}}</p>-->
                                                <!--<p class="destination-title">-->
                                                    <!--{{dataflight.transData[1].destination_city_name}}</p>-->
                                                <!--<p class="destination-date">{{dataflight.transData[1].arrivalTime |-->
                                                    <!--date: 'MMM dd, yyyy'}}</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</ng-container>-->

                            <!--</div>-->
                            <!--<div class="row mt-3">-->
                                <!--<div class="col-md-6 col-xs-12">-->
                                    <!--<div class="title-maskapai">-->
                                        <!--{{dataflight.transData[0].platingCarrierName}}-->
                                        <!--<span>{{dataflight.transData[0].flightNumber}}</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-2 text-center">-->
                            <!--<p style="font-size: 12pt; margin-bottom: 0px"><strong>{{dataflight.totalPrice |-->
                                <!--currency:'IDR ':'symbol':'3.0'}}</strong></p>-->

                            <!--<button class="btn btn-warning  button-search-flight-ticket">Book flight</button>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row mt-3" style="text-align: left">-->
                        <!--<div class="col-md-2 col-sm-2 col-xs-2"-->
                             <!--(click)="flightDetailsAllCollapsed([i]); flightDetailsCollapsed[i] = !flightDetailsCollapsed[i]"-->
                             <!--[attr.aria-expanded]="!flightDetailsCollapsed">-->
                            <!--Flight Details-->
                        <!--</div>-->
                        <!--<div class="col-md-2 col-sm-2 col-xs-2"-->
                             <!--(click)="priceDetailsAllCollapsed([i]); priceDetailsCollapsed[i] = !priceDetailsCollapsed[i]"-->
                             <!--[attr.aria-expanded]="!priceDetailsCollapsed">-->
                            <!--Price Details-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="card mt-2" [ngbCollapse]="!flightDetailsCollapsed[i]">-->
                        <!--<div class="col-md-12">-->
                            <!--<div class="row mb-3" style="margin-top: 25px"-->
                                 <!--*ngFor="let dataflightTrans of dataflight.transData">-->
                                <!--<div class="col-md-2 mb-3">-->
                                    <!--<div class="flight-section-airline-logo-wrap">-->
                                        <!--<img src="https://s1.travix.com/global/assets/airlineLogos/{{dataflightTrans.platingCarrier}}.png"-->
                                             <!--class="img-fluid img-circle airline-logo">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-10">-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-md-6">-->
                                            <!--<ul class="flight-details-schedule-list">-->
                                                <!--<li>-->
                                                    <!--<i class="fa fa-plane flight-details-schedule-icon"></i>-->
                                                    <!--<p class="flight-details-schedule-date">-->
                                                        <!--{{dataflightTrans.arrivalTime | date: 'MMM dd, yyyy'}}</p>-->
                                                    <!--<div class="flight-details-schedule-time">-->
                                                        <!--{{dataflightTrans.departureTime | date: 'hh:mm'}} - -->
                                                        <!--{{dataflightTrans.arrivalTime | date: 'hh:mm'}}-->
                                                        <!--({{dataflightTrans.flightTime | minuteToHour}})-->
                                                    <!--</div>-->
                                                    <!--<div class="flight-details-schedule-destination">-->
                                                        <!--<div style="float: left; max-width: 40%">-->
                                                            <!--<p style="font-weight: bold; margin-bottom: 0">-->
                                                                <!--{{dataflightTrans.origin}}-->
                                                            <!--</p>-->
                                                            <!--<p class="flight-details-schedule-destination-city">-->
                                                                <!--{{dataflightTrans.origin_city_name}}</p>-->
                                                        <!--</div>-->
                                                        <!--<div style="float: left; margin: 0 10px">-->
                                                            <!--<span>→</span>-->
                                                        <!--</div>-->
                                                        <!--<div style="float: left; max-width: 40%">-->
                                                            <!--<p style="font-weight: bold; margin-bottom: 0">-->
                                                                <!--{{dataflightTrans.destination}}-->
                                                            <!--</p>-->
                                                            <!--<p class="flight-details-schedule-destination-city">-->
                                                                <!--{{dataflightTrans.destination_city_name}}</p>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</li>-->
                                            <!--</ul>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-6">-->
                                            <!--<ul class="flight-details-feature-list">-->
                                                <!--<li>-->
                                                    <!--<span>Aircraft</span> : <span>{{dataflightTrans.platingCarrierName}} {{dataflightTrans.platingCarrier}}-{{dataflightTrans.flightNumber}}</span>-->
                                                <!--</li>-->
                                                <!--<li>-->
                                                    <!--<span>Seat layout</span> : <span>3-3</span>-->
                                                <!--</li>-->
                                                <!--<li>-->
                                                    <!--<span>Seat pitch</span> : <span>29 inches (standard)</span>-->
                                                <!--</li>-->
                                                <!--<li>-->
                                                    <!--<span>Cabin baggage</span> : <span>7 kg</span>-->
                                                <!--</li>-->
                                                <!--<li>-->
                                                    <!--<span>Baggage</span> : <span>20 kg</span>-->
                                                <!--</li>-->
                                            <!--</ul>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div [ngbCollapse]="!priceDetailsCollapsed[i]">-->
                        <!--<div class="card mt-2">-->
                            <!--<div class="col-md-12">-->
                                <!--<div class="row mb-3" style="margin-top: 25px">-->
                                    <!--<div class="col-md-12">-->
                                        <!--<div class="row">-->
                                            <!--<div class="col-md-5">-->
                                                <!--<span>Refundable</span>-->
                                            <!--</div>-->
                                            <!--<div class="col-md-7">-->
                                                <!--<div>-->
                                                    <!--<div *ngFor="let dataflightTrans of dataflight.transData">-->
                                                        <!--Base price {{dataflightTrans.platingCarrierName}}-->
                                                        <!--{{dataflightTrans.platingCarrier}}-{{dataflightTrans.flightNumber}}-->
                                                        <!--<span style="float: right; font-weight: bold">{{dataflightTrans.amount | currency:'IDR ':'symbol':'3.0'}}</span>-->
                                                    <!--</div>-->

                                                    <!--<div>-->
                                                        <!--Tax-->
                                                        <!--<span style="float: right; font-weight: bold">{{dataflight.taxes | currency:'IDR ':'symbol':'3.0'}}</span>-->
                                                    <!--</div>-->

                                                    <!--<div style="height: 1px; background: #dedede; margin: 8px 0;"></div>-->

                                                    <!--<div>-->
                                                        <!--Total price-->
                                                        <!--<span style="float: right; font-weight: bold">{{dataflight.totalPrice | currency:'IDR ':'symbol':'3.0'}}</span>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
