<div class="container text-center my-3">
  <h2 class="font-weight-light mb-4">Kategori</h2>
  <div class="mx-auto my-auto">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let kp of kategoripilihan; let i = index">
        <ng-template [id]="i" carouselSlide>
          <div class="cat-box">
            <div class="img-box1">
              <img class="img-fluid custom-img" src="{{kp.gambar}}">
            </div>
            <div class="thumb-content">
              <p>{{kp.nama_kategori}}</p>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>

<div *ngFor="let p of produk" class="row" style="margin-bottom: 25px">
  <div class="col-md-12 float-left">
    <div class="kat-title">{{p.nama_kategori}}</div>
    <div class="bor-bot"></div>
  </div>
  <div *ngFor="let pproduk of p.produk" class="col-md-2 pt-2">
    <a href="{{pproduk.link}}" target="_blank" title="{{pproduk.nama_produk_full}}">
      <div class="box-prod-home">
        <div class="ch">
          <img src="{{pproduk.gambar[0]}}">
        </div>
        <div class="txt-box">
          <h4 class="produk-title pt-2">
            <span>{{pproduk.nama_produk}}</span>
          </h4>
          <span class="d-block harga">
            {{pproduk.harga}}
          </span>
          <small class="d-block text-muted">
            <i class="fa fa-map-marker-alt fa-lg" style="color: #4CAF50;"></i>
            {{pproduk.nama_kota  }}
          </small>
        </div>
      </div>
    </a>
  </div>
  <div style="margin-bottom:10px"></div>
</div>

<div *ngIf="pleaseWaitLoader" style="z-index: 999999;">
  <div class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto;">
    <div aria-busy="true" aria-describedby="swal2-content"
         aria-labelledby="swal2-title" aria-live="assertive" aria-modal="true"
         class="swal2-popup swal2-modal swal2-show swal2-loading"
         data-loading="true" role="dialog" style="display: flex;" tabindex="-1">
      <div class="swal2-content">
        <div class="swal2-html-container" id="swal2-content" style="display: block;">
          Please wait...
        </div>
      </div>
      <div class="swal2-actions swal2-loading" style="display: flex;">
        <button aria-label="" class="swal2-confirm swal2-styled" disabled=""
                style="display: inline-block; border-left-color: #ed1942; border-right-color: #ed1942;"
                type="button">OK
        </button>
      </div>
    </div>
  </div>
</div>
