<div class="row justify-content-center pt-4 pb-3">
  <div class="col-md-12">
    <form [formGroup]="searchProductForm" class="card card-sm rounded-pill">
      <div class="input-group">
        <input autocomplete="off" class="form-control search-home rounded-pill border-0"
               formControlName="keyword_search" placeholder="Cari produk apa?" type="text">
        <div class="input-group-append">
          <button (click)="searchProduct()" class="btn rounded-pill" style="background-color: #ff6501;color: white;" type="submit">
            <i class="fa fa-search fa-lg"></i>
          </button>
        </div>
      </div>
    </form>
    <div *ngIf="isControlHasError('keyword_search','required')" class="invalid-feedback"
         style="display: block">
      Silahkan isi nama produk yang ingin dicari
    </div>
  </div>
  <!--end of col-->
</div>

<div class="row pb-4">
  <div class="col-md-12 float-left">
    <div class="kat-title">Kategori Pilihan</div>
    <div class="bor-bot"></div>
    <div class="mx-auto my-auto text-center">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let kp of kategoripilihan; let i = index">
          <ng-template [id]="i" carouselSlide>
            <div class="cat-box">
              <div class="img-box1">
                <img class="img-fluid custom-img" src="{{kp.gambar}}">
              </div>
              <div class="thumb-content">
                <p>{{kp.nama_kategori}}</p>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>

<div class="row pb-4">
  <div class="col-md-12 m-0">
    <div
      style="display: -webkit-box;display: -ms-flexbox;display: flex;color: #fff;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;width: 100%;height: 56px;border-radius: 8px;/* -webkit-box-shadow: 0 0 24px -4px rgba(0,0,0,.12); *//* box-shadow: 0 0 24px -4px rgba(0,0,0,.12); *//* background: -webkit-gradient(linear,left top,right top,from(#3795d9),color-stop(35%,#3795d9),to(#00d4ff)); *//* background: linear-gradient(90deg,#07969a,#3795d9 35%,#00d4ff); */">
      <div style="
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 24px -4px rgba(0,0,0,.12);
    box-shadow: 0 0 24px -4px rgba(0,0,0,.12);
    background-color: #fff;
    padding: 14px 17px;
    height: auto;
    line-height: 1.14;
    letter-spacing: normal;
    margin-right: 10px;
    max-width: 170px;
    min-width: 170px;
    min-height: 66px;
"><img alt="Gratis Ongkir" src="https://mart.fixtrips.com/asset/foto_kategori/barang-bekas.png"
       style="margin-right: 8px;width: 21px;height: 21px;"><span
        style="line-height: normal;font-size: 14px;color: #ff6500;"> Gratis Ongkir</span></div>
      <div style="
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 24px -4px rgba(0,0,0,.12);
    box-shadow: 0 0 24px -4px rgba(0,0,0,.12);
    background-color: #fff;
    padding: 14px 17px;
    height: auto;
    line-height: 1.14;
    letter-spacing: normal;
    margin-right: 10px;
    max-width: 170px;
    min-width: 170px;
    min-height: 66px;
"><img alt="Gratis Ongkir" src="https://mart.fixtrips.com/asset/foto_kategori/barang-bekas.png"
       style="margin-right: 8px;width: 21px;height: 21px;"><span
        style="line-height: normal;font-size: 14px;color: #ff6500;">Produk Terjamin</span></div>
      <div style="
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 24px -4px rgba(0,0,0,.12);
    box-shadow: 0 0 24px -4px rgba(0,0,0,.12);
    background-color: #fff;
    padding: 14px 17px;
    height: auto;
    line-height: 1.14;
    letter-spacing: normal;
    margin-right: 10px;
    max-width: 170px;
    min-width: 170px;
    min-height: 66px;
"><img alt="Gratis Ongkir" src="https://mart.fixtrips.com/asset/foto_kategori/barang-bekas.png"
       style="margin-right: 8px;width: 21px;height: 21px;"><span
        style="line-height: normal;font-size: 14px;color: #ff6500;">Pengembalian Barang</span></div>
      <div style="
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 24px -4px rgba(0,0,0,.12);
    box-shadow: 0 0 24px -4px rgba(0,0,0,.12);
    background-color: #fff;
    padding: 14px 17px;
    height: auto;
    line-height: 1.14;
    letter-spacing: normal;
    margin-right: 10px;
    max-width: 170px;
    min-width: 170px;
    min-height: 66px;
"><img alt="Gratis Ongkir" src="https://mart.fixtrips.com/asset/foto_kategori/barang-bekas.png"
       style="margin-right: 8px;width: 21px;height: 21px;"><span
        style="line-height: normal;font-size: 14px;color: #ff6500;">Pengiriman Cepat</span></div>
      <div style="
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 24px -4px rgba(0,0,0,.12);
    box-shadow: 0 0 24px -4px rgba(0,0,0,.12);
    background-color: #fff;
    padding: 14px 17px;
    height: auto;
    line-height: 1.14;
    letter-spacing: normal;
    margin-right: 10px;
    max-width: 170px;
    min-width: 170px;
    min-height: 66px;
"><img alt="Gratis Ongkir" src="https://mart.fixtrips.com/asset/foto_kategori/barang-bekas.png"
       style="margin-right: 8px;width: 21px;height: 21px;"><span
        style="line-height: normal;font-size: 14px;color: #ff6500;">Pembayaran Aman</span></div>
      <div style="
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 24px -4px rgba(0,0,0,.12);
    box-shadow: 0 0 24px -4px rgba(0,0,0,.12);
    background-color: #fff;
    padding: 14px 17px;
    height: auto;
    line-height: 1.14;
    letter-spacing: normal;
    margin-right: 10px;
    max-width: 170px;
    min-width: 170px;
    min-height: 66px;
"><img alt="Gratis Ongkir" src="https://mart.fixtrips.com/asset/foto_kategori/barang-bekas.png"
       style="margin-right: 8px;width: 21px;height: 21px;"><span
        style="line-height: normal;font-size: 14px;color: #ff6500;">24/7 Customer Service</span></div>
    </div>
  </div>
</div>

<div class="row pb-4">
  <div class="col-md-12 p-0">
    <div class="col-md-6 float-left">
      <div class="kat-title">Paling Populer</div>
      <div class="bor-bot mb-0"></div>
      <div class="col-md-12 text-right"><a class="" href="#"><small>Tampilkan semua <i
        class="fa fa-arrow-right"></i></small></a></div>
      <div class="row">
        <div class="col-md-3 col-sm-6 p-2">
          <div class="white-box">
            <div class="product-img">
              <img
                src="https://www.91-img.com/pictures/laptops/asus/asus-x552cl-sx019d-core-i3-3rd-gen-4-gb-500-gb-dos-1-gb-61721-large-1.jpg">
            </div>
            <div class="product-bottom">
              <div class="product-name">Asus X552CL-SX019D Laptop</div>
              <div class="price">
                <span class="rupiah-txt">Rp</span> 32,000
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 float-left">
      <div class="kat-title">Produk Terlaris</div>
      <div class="bor-bot mb-0"></div>
      <div class="col-md-12 text-right"><a class="" href="#"><small>Tampilkan semua <i
        class="fa fa-arrow-right"></i></small></a></div>
      <div class="mt-2 row">
        <div class="col-md-6 pb-4">
          <section class="AIODWjw" id="card"><a class="fioaWNiwa" href="https://www.tokopedia.com/find/samsung-note-9"
                                                title="">
            <div class="Kwijdfia">
              <div class="img-KAWDj">
                <img alt="Nama Produk" class="AIWOHdj"
                     src="https://ecs7-p.tokopedia.net/img/cache/200-square/product-1/2018/8/23/316949607/316949607_474c9ae5-91ad-4b92-a5aa-0deba2c2a1a7_1036_1280.jpg.webp"
                     title="Nama Produk"></div>
              <div class="kJa8dyuha"><h2 class="KJfnweiuh">Samsung Note 9</h2><span
                class="OPwjdkmdA">128rb produk</span></div>
            </div>
          </a></section>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row pb-4 mb-4 rounded-lg" style="background: linear-gradient(to right, #07969a, #54eaee, #96d8d4);">
  <div class="col-md-12 float-left">
    <div class="kat-title text-white font-weight-bold">Flash Sale <i class="fas fa-bolt"></i></div>
    <div class="bor-bot"></div>
  </div>
  <div class="row ml-3">
    <p class="text-white"> Berakhir dalam</p>
    <div class="hours parent_time">
      <div class="hours_0 child_time child_time0">2</div>
      <div class="hours_1 child_time child_time1">3</div>
    </div>
    <p class="text-white">:</p>
    <div class="minutes parent_time">
      <div class="minutes_0 child_time child_time0">5</div>
      <div class="minutes_1 child_time child_time1">6</div>
    </div>
    <p class="text-white">:</p>
    <div class="seconds parent_time">
      <div class="seconds_0 child_time child_time0">0</div>
      <div class="seconds_1 child_time child_time1">9</div>
    </div>
  </div>

  <div class="row px-3">
    <div class="col-md-2 pt-2">
      <a
        href="https://mart.fixtrips.com/produk/detail/filter-udara-toyota-avanza-xenia-dual-vvti-2015--2016--2017--2018--codeda84"
        target="_blank"
        title="FILTER UDARA TOYOTA AVANZA XENIA DUAL VVTI 2015 - 2016 - 2017 - 2018 - Codeda84">
        <div class="box-prod-home">
          <div class="ch"><img
            src="https://mart.fixtrips.com/asset/foto_produk/BE2CF613-54D8-C034-8C06-D3746AFD4F1E.jpeg"></div>
          <div class="txt-box"><h4 class="produk-title pt-2"><span>FILTER UDARA TOYOTA AVANZA XENIA DUAL VV</span>
          </h4><span class="d-block harga"> Rp 85,000 </span><small class="d-block text-muted"><i
            class="fa fa-map-marker-alt fa-lg" style="color: #4CAF50;"></i> Kota Bekasi </small></div>
        </div>
      </a></div>
    <div class="col-md-2 pt-2">
      <a
        href="https://mart.fixtrips.com/produk/detail/filter-udara-toyota-avanza-xenia-dual-vvti-2015--2016--2017--2018--codeda84"
        target="_blank"
        title="FILTER UDARA TOYOTA AVANZA XENIA DUAL VVTI 2015 - 2016 - 2017 - 2018 - Codeda84">
        <div class="box-prod-home">
          <div class="ch"><img
            src="https://mart.fixtrips.com/asset/foto_produk/BE2CF613-54D8-C034-8C06-D3746AFD4F1E.jpeg"></div>
          <div class="txt-box"><h4 class="produk-title pt-2"><span>FILTER UDARA TOYOTA AVANZA XENIA DUAL VV</span>
          </h4><span class="d-block harga"> Rp 85,000 </span><small class="d-block text-muted"><i
            class="fa fa-map-marker-alt fa-lg" style="color: #4CAF50;"></i> Kota Bekasi </small></div>
        </div>
      </a></div>
    <div class="col-md-2 pt-2">
      <a
        href="https://mart.fixtrips.com/produk/detail/filter-udara-toyota-avanza-xenia-dual-vvti-2015--2016--2017--2018--codeda84"
        target="_blank"
        title="FILTER UDARA TOYOTA AVANZA XENIA DUAL VVTI 2015 - 2016 - 2017 - 2018 - Codeda84">
        <div class="box-prod-home">
          <div class="ch"><img
            src="https://mart.fixtrips.com/asset/foto_produk/BE2CF613-54D8-C034-8C06-D3746AFD4F1E.jpeg"></div>
          <div class="txt-box"><h4 class="produk-title pt-2"><span>FILTER UDARA TOYOTA AVANZA XENIA DUAL VV</span>
          </h4><span class="d-block harga"> Rp 85,000 </span><small class="d-block text-muted"><i
            class="fa fa-map-marker-alt fa-lg" style="color: #4CAF50;"></i> Kota Bekasi </small></div>
        </div>
      </a></div>
    <div class="col-md-2 pt-2">
      <a
        href="https://mart.fixtrips.com/produk/detail/filter-udara-toyota-avanza-xenia-dual-vvti-2015--2016--2017--2018--codeda84"
        target="_blank"
        title="FILTER UDARA TOYOTA AVANZA XENIA DUAL VVTI 2015 - 2016 - 2017 - 2018 - Codeda84">
        <div class="box-prod-home">
          <div class="ch"><img
            src="https://mart.fixtrips.com/asset/foto_produk/BE2CF613-54D8-C034-8C06-D3746AFD4F1E.jpeg"></div>
          <div class="txt-box"><h4 class="produk-title pt-2"><span>FILTER UDARA TOYOTA AVANZA XENIA DUAL VV</span>
          </h4><span class="d-block harga"> Rp 85,000 </span><small class="d-block text-muted"><i
            class="fa fa-map-marker-alt fa-lg" style="color: #4CAF50;"></i> Kota Bekasi </small></div>
        </div>
      </a></div>
    <div class="col-md-2 pt-2">
      <a
        href="https://mart.fixtrips.com/produk/detail/filter-udara-toyota-avanza-xenia-dual-vvti-2015--2016--2017--2018--codeda84"
        target="_blank"
        title="FILTER UDARA TOYOTA AVANZA XENIA DUAL VVTI 2015 - 2016 - 2017 - 2018 - Codeda84">
        <div class="box-prod-home">
          <div class="ch"><img
            src="https://mart.fixtrips.com/asset/foto_produk/BE2CF613-54D8-C034-8C06-D3746AFD4F1E.jpeg"></div>
          <div class="txt-box"><h4 class="produk-title pt-2"><span>FILTER UDARA TOYOTA AVANZA XENIA DUAL VV</span>
          </h4><span class="d-block harga"> Rp 85,000 </span><small class="d-block text-muted"><i
            class="fa fa-map-marker-alt fa-lg" style="color: #4CAF50;"></i> Kota Bekasi </small></div>
        </div>
      </a></div>
    <div class="col-md-2 pt-2">
      <a
        href="https://mart.fixtrips.com/produk/detail/filter-udara-toyota-avanza-xenia-dual-vvti-2015--2016--2017--2018--codeda84"
        target="_blank"
        title="FILTER UDARA TOYOTA AVANZA XENIA DUAL VVTI 2015 - 2016 - 2017 - 2018 - Codeda84">
        <div class="box-prod-home">
          <div class="ch"><img
            src="https://mart.fixtrips.com/asset/foto_produk/BE2CF613-54D8-C034-8C06-D3746AFD4F1E.jpeg"></div>
          <div class="txt-box"><h4 class="produk-title pt-2"><span>FILTER UDARA TOYOTA AVANZA XENIA DUAL VV</span>
          </h4><span class="d-block harga"> Rp 85,000 </span><small class="d-block text-muted"><i
            class="fa fa-map-marker-alt fa-lg" style="color: #4CAF50;"></i> Kota Bekasi </small></div>
        </div>
      </a></div>
  </div>
</div>

<div class="row pb-4">
  <div class="img-fullwidth">
    <img class="rounded-lg" src="/assets/images/sample-bl.png">
  </div>
</div>

<div class="row pb-4">
  <div class="col-md-12 float-left">
    <div class="kat-title">Produk Promo</div>
    <div class="bor-bot"></div>
      <owl-carousel-o [options]="produkPromo">
        <ng-container *ngFor="let kp of kategoripilihan; let i = index">
          <ng-template carouselSlide id="1">
                <div class="carousel-container__slide">
                  <a href="#" target="_blank">
                    <img alt="Car 3 Dekstop - ian-new-normal-essentials" class="carousel-container__slide__content"
                         src="https://www.fixtrips.com/official/assets/media/slider/20200404221841.jpeg">
                  </a>
                </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
  </div>
</div>

<div *ngFor="let p of produk" class="row pb-4">
  <div class="col-md-12 float-left">
    <div class="kat-title">{{p.nama_kategori}}</div>
    <div class="bor-bot"></div>
  </div>
  <div class="row px-3">
    <div *ngFor="let pproduk of p.produk" class="col-md-2 pt-2">
      <a href="{{pproduk.link}}" target="_blank" title="{{pproduk.nama_produk_full}}">
        <div class="box-prod-home">
          <div class="ch">
            <img src="{{pproduk.gambar[0]}}">
          </div>
          <div class="txt-box">
            <h4 class="produk-title pt-2">
              <span>{{pproduk.nama_produk}}</span>
            </h4>
            <span class="d-block harga">
            {{pproduk.harga}}
          </span>
            <small class="d-block text-muted">
              <i class="fa fa-map-marker-alt fa-lg" style="color: #4CAF50;"></i>
              {{pproduk.nama_kota  }}
            </small>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div style="margin-bottom:10px"></div>
</div>

<div *ngIf="pleaseWaitLoader" style="z-index: 999999;">
  <div class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto;">
    <div aria-busy="true" aria-describedby="swal2-content"
         aria-labelledby="swal2-title" aria-live="assertive" aria-modal="true"
         class="swal2-popup swal2-modal swal2-show swal2-loading"
         data-loading="true" role="dialog" style="display: flex;" tabindex="-1">
      <div class="swal2-content">
        <div class="swal2-html-container" id="swal2-content" style="display: block;">
          Please wait...
        </div>
      </div>
      <div class="swal2-actions swal2-loading" style="display: flex;">
        <button aria-label="" class="swal2-confirm swal2-styled" disabled=""
                style="display: inline-block; border-left-color: #ed1942; border-right-color: #ed1942;"
                type="button">OK
        </button>
      </div>
    </div>
  </div>
</div>
