.label-custom {
  display: inline-block;
  vertical-align: middle;
  max-width: 98%;
}

.content-custom {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.reverseClickedClicked1 {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.reverseClickedClicked2 {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
