.listbox{
  background-color: #fff;
  position: absolute;
  left: 0;
  top: calc(100% + 2px);
  z-index: 15;
  border-radius: 2px;
  min-width: 600px;
  max-height: 350px;
  -webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,.14);
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.14);
  overflow-y: auto;
}