<div class="tab-pane DivTabFlight">
  <ngb-tabset (tabChange)="beforeChange($event)">
    <ngb-tab id="one-way">
      <ng-template ngbTabTitle>
        <i class="fas fa-arrow-right"></i> One Way
      </ng-template>
      <ng-template ngbTabContent>
        <div class="row">
          <div style="clear: both;"></div>
          <div class="col-sm-12">
            <div class="search-destination-separator"></div>
          </div>
          <div style="clear: both;"></div>
          <div class="col-12 col-sm-12">
            <form [formGroup]="searchFlightForm" autocomplete="off" class="search-destination">
              <div class="row" style="margin: 10px;">
                <div class="col-md-3 no-padding">
                  <div class="form_full">
                    <div class="form-group">
                      <label>Flying From</label>
                      <span class="icon"><i class="fa fa-map-marker-alt"></i></span>
                      <input (valueChanged)="cityAutoComplete($event, 'from')" [(ngModel)]="fromCity"
                             [list-formatter]="autocompleListFormatter"
                             [max-num-list]="8" [min-chars]="2" [source]="airportList"
                             auto-complete class="form-control origin-typeahead" formControlName="origin"
                             placeholder="Departures"
                      />
                      <div *ngIf="isControlHasError('origin','required')" class="invalid-feedback"
                           style="display: block">
                        Origin is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 no-padding">
                  <div class="form_full">
                    <div class="form-group">
                      <label>Flying To</label>
                      <span class="icon"><i class="fa fa-map-marker-alt"></i></span>
                      <input (valueChanged)="cityAutoComplete($event, 'to')" [(ngModel)]="toCity"
                             [list-formatter]="autocompleListFormatter"
                             [max-num-list]="8" [min-chars]="2" [source]="airportList"
                             auto-complete class="form-control origin-typeahead" formControlName="destination"
                             placeholder="Destination"
                      />
                      <div *ngIf="isControlHasError('destination','required')" class="invalid-feedback"
                           style="display: block">
                        Destination is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 no-padding">
                  <div class="form_full">
                    <div class="form-group">
                      <label>Departure</label>
                      <span class="icon"><i class="fa fa-calendar"></i></span>
                      <input #d="ngbDatepicker" (click)="d.toggle()" [(ngModel)]="defaultDepatureDate"
                             [minDate]="minDate"
                             class="form-control"
                             formControlName="departure"
                             maxlength="0" ngbDatepicker
                             style="cursor: pointer;"
                      />
                      <div *ngIf="isControlHasError('departure','required')" class="invalid-feedback"
                           style="display: block">
                        Departure date is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 no-padding">
                  <div class="form_full">
                    <div class="form-group">
                      <label>Pax</label><span class="icon"><i class="fa-child fas"></i></span>
                      <div (click)="showPassengerIn()" class="form-control f-traveller" style="cursor: pointer;">
                        <div class="label-custom">
                          <div class="content-custom">
                            <span class="" style="margin-left: 17px;" title="Adults">{{cabin}}, {{adultPassenger}}
                              Adult, {{childPassenger}} Child, {{infantPassenger}} Infant</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="passengersCollapsed" class="adult-class-dropdown flight-pax" style="position: absolute;">
                    <div class="dropdown-content" id="divFlightRoom1">
                      <div class="adult-panel">
                        <div class="min-max-outer no-padding">
                          <select [(ngModel)]="cabin" class="form-control" formControlName="cabin" id="cabin">
                            <option value="Economy">Ekonomi</option>
                            <option value="Business">Bisnis</option>
                          </select>
                        </div>
                      </div>
                      <div class="adult-panel">
                        <span class="heading">Adult</span>
                        <div class="min-max-outer">
                          <div class="min-max">
                            <input (click)="adultPassengerMinus()" class="input-btn1" type="button" value="-">
                            <input [(ngModel)]="adultPassenger" class="input-text" formControlName="adult" maxlength="1"
                                   readonly>
                            <input (click)="adultPassengerPlus()" class="input-btn2" type="button" value="+">
                          </div>
                          <span class="age-text">+12 Yrs</span>
                        </div>
                      </div>
                      <div class="adult-panel">
                        <span class="heading">Child</span>
                        <div class="min-max-outer">
                          <div class="min-max">
                            <input (click)="childPassengerMinus()" class="input-btn1" type="button" value="-">
                            <input [(ngModel)]="childPassenger" class="input-text" formControlName="child" maxlength="1"
                                   readonly>
                            <input (click)="childPassengerPlus()" class="input-btn2" type="button" value="+">
                          </div>
                          <span class="age-text">2-11 Yrs</span>
                        </div>
                      </div>

                      <div class="adult-panel">
                        <span class="heading">Infant(s)</span>
                        <div class="min-max-outer">
                          <div class="min-max">
                            <input (click)="infantPassengerMinus()" class="input-btn1" type="button" value="-">
                            <input [(ngModel)]="infantPassenger" class="input-text" formControlName="infant"
                                   maxlength="1"
                                   readonly>
                            <input (click)="infantPassengerPlus()" class="input-btn2" type="button" value="+">
                          </div>
                          <span class="age-text">Under 2 Yrs</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--              <div class="width_small">-->
              <!--                <div class="form_full">-->
              <!--                  <div class="form-group">-->
              <!--                    <div class="airline-tab">-->
              <!--                      <label>Preferred Class</label>-->
              <!--                      <span class="icon"><i class="fas fa-wallet"></i></span>-->
              <!--                      <select class="form-control" formControlName="cabin" id="cabin">-->
              <!--                        <option value="Economy">Ekonomi</option>-->
              <!--                        &lt;!&ndash;                          <option value="Premium_Economy">Premium Ekonomi</option>&ndash;&gt;-->
              <!--                        <option value="Business">Bisnis</option>-->
              <!--                        &lt;!&ndash;                          <option value="First Class">First Class</option>&ndash;&gt;-->
              <!--                      </select>-->
              <!--                      <div *ngIf="isControlHasError('cabin','required')" class="invalid-feedback"-->
              <!--                           style="display: block">-->
              <!--                        Cabin Type is required-->
              <!--                      </div>-->
              <!--                    </div>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->
            </form>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="round-trip">
      <ng-template ngbTabTitle>
        <i class="fa-arrows-alt-h fas"></i> Round Trip
      </ng-template>
      <ng-template ngbTabContent>
        <div class="row">
          <div style="clear: both;"></div>
          <div class="col-sm-12">
            <div class="search-destination-separator"></div>
          </div>
          <div style="clear: both;"></div>
          <div class="col-12 col-sm-12">
            <form [formGroup]="searchFlightForm" autocomplete="off" class="search-destination">
              <div class="row" style="margin: 10px;">
                <div class="col-md-3 no-padding">
                  <div class="form_full">
                    <div class="form-group">
                      <label>Flying From</label>
                      <span class="icon"><i class="fa fa-map-marker-alt"></i></span>
                      <input (valueChanged)="cityAutoComplete($event, 'from')" [(ngModel)]="fromCity"
                             [list-formatter]="autocompleListFormatter"
                             [max-num-list]="8" [min-chars]="2" [source]="airportList"
                             auto-complete class="form-control origin-typeahead" formControlName="origin"
                             placeholder="Departures"
                      />
                      <div *ngIf="isControlHasError('origin','required')" class="invalid-feedback"
                           style="display: block">
                        Origin is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 no-padding">
                  <div class="form_full">
                    <div class="form-group">
                      <label>Flying To</label>
                      <span class="icon"><i class="fa fa-map-marker-alt"></i></span>
                      <input (valueChanged)="cityAutoComplete($event, 'to')" [(ngModel)]="toCity"
                             [list-formatter]="autocompleListFormatter"
                             [max-num-list]="8" [min-chars]="2" [source]="airportList"
                             auto-complete class="form-control origin-typeahead" formControlName="destination"
                             placeholder="Destination"
                      />
                      <div *ngIf="isControlHasError('destination','required')" class="invalid-feedback"
                           style="display: block">
                        Destination is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-2 no-padding">
                  <div class="form_full">
                    <div class="form-group">
                      <label>Departure</label>
                      <span class="icon"><i class="fa fa-calendar"></i></span>
                      <input #d="ngbDatepicker" (click)="d.toggle()" [minDate]="minDate" class="form-control"
                             formControlName="departure"
                             maxlength="0" ngbDatepicker
                             [(ngModel)]="defaultDepatureDate"
                      />
                      <div *ngIf="isControlHasError('departure','required')" class="invalid-feedback"
                           style="display: block">
                        Departure date is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-2 no-padding">
                  <div class="form_full">
                    <div class="form-group">
                      <label>Return</label>
                      <span class="icon"><i class="fa fa-calendar"></i></span>
                      <input #r="ngbDatepicker" (click)="r.toggle()" [minDate]="minDate" class="form-control"
                             formControlName="return"
                             maxlength="0" ngbDatepicker
                             [(ngModel)]="defaultReturnDate"
                      />
                      <div *ngIf="isControlHasError('return','required')" class="invalid-feedback"
                           style="display: block">
                        Return date is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-2 no-padding">
                  <div class="form_full">
                    <div class="form-group">
                      <label>Pax</label><span class="icon"><i class="fa-child fas"></i></span>
                      <div (click)="showPassengerIn()" class="form-control f-traveller" style="cursor: pointer;">
                        <div class="label-custom">
                          <div class="content-custom">
                            <span class="" style="margin-left: 17px;" title="Adults">{{cabin}}, {{adultPassenger}}
                              Adult, {{childPassenger}} Child, {{infantPassenger}} Infant</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="passengersCollapsed" class="adult-class-dropdown flight-pax" style="position: absolute;">
                    <div class="dropdown-content" id="divFlightRoom1">
                      <div class="adult-panel">
                        <div class="min-max-outer no-padding">
                          <select [(ngModel)]="cabin" class="form-control" formControlName="cabin" id="cabin">
                            <option value="Economy">Ekonomi</option>
                            <option value="Business">Bisnis</option>
                          </select>
                        </div>
                      </div>
                      <div class="adult-panel">
                        <span class="heading">Adult</span>
                        <div class="min-max-outer">
                          <div class="min-max">
                            <input (click)="adultPassengerMinus()" class="input-btn1" type="button" value="-">
                            <input [(ngModel)]="adultPassenger" class="input-text" formControlName="adult" maxlength="1"
                                   readonly>
                            <input (click)="adultPassengerPlus()" class="input-btn2" type="button" value="+">
                          </div>
                          <span class="age-text">+12 Yrs</span>
                        </div>
                      </div>
                      <div class="adult-panel">
                        <span class="heading">Child</span>
                        <div class="min-max-outer">
                          <div class="min-max">
                            <input (click)="childPassengerMinus()" class="input-btn1" type="button" value="-">
                            <input [(ngModel)]="childPassenger" class="input-text" formControlName="child" maxlength="1"
                                   readonly>
                            <input (click)="childPassengerPlus()" class="input-btn2" type="button" value="+">
                          </div>
                          <span class="age-text">2-11 Yrs</span>
                        </div>
                      </div>

                      <div class="adult-panel">
                        <span class="heading">Infant(s)</span>
                        <div class="min-max-outer">
                          <div class="min-max">
                            <input (click)="infantPassengerMinus()" class="input-btn1" type="button" value="-">
                            <input [(ngModel)]="infantPassenger" class="input-text" formControlName="infant"
                                   maxlength="1"
                                   readonly>
                            <input (click)="infantPassengerPlus()" class="input-btn2" type="button" value="+">
                          </div>
                          <span class="age-text">Under 2 Yrs</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="multi-city">
      <ng-template ngbTabTitle>
        <i class="fa fa-arrows"></i> Multiple Trip
      </ng-template>
      <ng-template ngbTabContent>
        <div class="row">
          <div style="clear: both;"></div>
          <div class="col-sm-12">
            <div class="search-destination-separator"></div>
          </div>
          <div style="clear: both;"></div>
          <div class="col-12 col-sm-12">
            <form [formGroup]="searchFlightForm" autocomplete="off" class="search-destination">
              <div formArrayName="multipleTrip">
                <div *ngFor="let item of multipleTrip.controls; let pointIndex=index" [formGroupName]="pointIndex"
                     class="row" style="margin: 10px;">
                  <div class="col-md-4 no-padding">
                    <div class="form_full">
                      <div class="form-group">
                        <label>Flying From</label>
                        <span class="icon"><i class="fa fa-map-marker-alt"></i></span>
                        <input (valueChanged)="cityAutoCompleteArray($event, 'from', pointIndex)"
                               [(ngModel)]="fromCityArray[pointIndex]"
                               [list-formatter]="autocompleListFormatter"
                               [max-num-list]="8" [min-chars]="2" [source]="airportList"
                               auto-complete class="form-control origin-typeahead" formControlName="originArray"
                               placeholder="Departures"
                        />
                        <div *ngIf="isControlHasError('origin','required')" class="invalid-feedback"
                             style="display: block">
                          Origin is required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 no-padding">
                    <div class="form_full">
                      <div class="form-group">
                        <label>Flying To</label>
                        <span class="icon"><i class="fa fa-map-marker-alt"></i></span>
                        <input (valueChanged)="cityAutoCompleteArray($event, 'to', pointIndex)"
                               [(ngModel)]="toCityArray[pointIndex]"
                               [list-formatter]="autocompleListFormatter"
                               [max-num-list]="8" [min-chars]="2" [source]="airportList"
                               auto-complete class="form-control origin-typeahead" formControlName="destinationArray"
                               placeholder="Destination"
                        />
                        <div *ngIf="isControlHasError('destination','required')" class="invalid-feedback"
                             style="display: block">
                          Destination is required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 no-padding">
                    <div class="form_full">
                      <div class="form-group">
                        <label>Departure</label>
                        <span class="icon"><i class="fa fa-calendar"></i></span>
                        <input #d="ngbDatepicker" (click)="d.toggle()"
                               [(ngModel)]="defaultDepatureDateArray[pointIndex]"
                               [minDate]="minDate"
                               class="form-control"
                               formControlName="departureArray"
                               maxlength="0" ngbDatepicker
                               style="cursor: pointer;"
                        />
                        <div *ngIf="isControlHasError('departure','required')" class="invalid-feedback"
                             style="display: block">
                          Departure date is required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="multipleTripLength == pointIndex && multipleTripLength > 1" class="col-md-1 no-padding">
                    <div class="form_full">
                      <div class="form-group">
                        <label style="margin-bottom: 20px"></label>
                        <span (click)="removeMultipleTrip(pointIndex)" class="icon delete_button"><i
                          class="fa fa-times"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" style="margin: 10px; margin-top: -10px">
                <div *ngIf="multipleTripLength < 4" class="col-md-6 no-padding">
                  <div class="form_full">
                    <div class="form-group">
                      <label style="margin-bottom: 20px"></label>
                      <button (click)="addMultipleTrip()"
                              class="btn btn-block btn-outline-primary button-search-flight-ticket"
                              style="height: 45px;border-radius: 5px;">Tambah Penerbangan
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 no-padding">
                  <div class="form_full">
                    <div class="form-group">
                      <label>Pax</label><span class="icon"><i class="fa-child fas"></i></span>
                      <div (click)="showPassengerIn()" class="form-control f-traveller" style="cursor: pointer;">
                        <div class="label-custom">
                          <div class="content-custom">
                            <span class="" style="margin-left: 17px;" title="Adults">{{cabin}}, {{adultPassenger}}
                              Adult, {{childPassenger}} Child, {{infantPassenger}} Infant</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="passengersCollapsed" class="adult-class-dropdown flight-pax" style="position: absolute;">
                    <div class="dropdown-content" id="divFlightRoom1">
                      <div class="adult-panel">
                        <div class="min-max-outer no-padding">
                          <select [(ngModel)]="cabin" class="form-control" formControlName="cabin" id="cabin">
                            <option value="Economy">Ekonomi</option>
                            <option value="Business">Bisnis</option>
                          </select>
                        </div>
                      </div>
                      <div class="adult-panel">
                        <span class="heading">Adult</span>
                        <div class="min-max-outer">
                          <div class="min-max">
                            <input (click)="adultPassengerMinus()" class="input-btn1" type="button" value="-">
                            <input [(ngModel)]="adultPassenger" class="input-text" formControlName="adult" maxlength="1"
                                   readonly>
                            <input (click)="adultPassengerPlus()" class="input-btn2" type="button" value="+">
                          </div>
                          <span class="age-text">+12 Yrs</span>
                        </div>
                      </div>
                      <div class="adult-panel">
                        <span class="heading">Child</span>
                        <div class="min-max-outer">
                          <div class="min-max">
                            <input (click)="childPassengerMinus()" class="input-btn1" type="button" value="-">
                            <input [(ngModel)]="childPassenger" class="input-text" formControlName="child" maxlength="1"
                                   readonly>
                            <input (click)="childPassengerPlus()" class="input-btn2" type="button" value="+">
                          </div>
                          <span class="age-text">2-11 Yrs</span>
                        </div>
                      </div>

                      <div class="adult-panel">
                        <span class="heading">Infant(s)</span>
                        <div class="min-max-outer">
                          <div class="min-max">
                            <input (click)="infantPassengerMinus()" class="input-btn1" type="button" value="-">
                            <input [(ngModel)]="infantPassenger" class="input-text" formControlName="infant"
                                   maxlength="1"
                                   readonly>
                            <input (click)="infantPassengerPlus()" class="input-btn2" type="button" value="+">
                          </div>
                          <span class="age-text">Under 2 Yrs</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  <div class="row-custom">
    <div class="width_extra_large">
      <div class="inner_button">
        <input (click)="searchFlight()" type="submit" value="Search">
      </div>
    </div>
  </div>
</div>

<div *ngIf="searchFlightFormInvalid" style="z-index: 999999;">
  <div class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto;">
    <div aria-busy="true" aria-describedby="swal2-content"
         aria-labelledby="swal2-title" aria-live="assertive" aria-modal="true"
         class="swal2-popup swal2-modal swal2-show swal2-loading"
         data-loading="true" role="dialog" style="display: flex;" tabindex="-1">
      <div class="swal2-header">
        <div class="swal2-icon swal2-error swal2-icon-show" style="display: flex;">
          <span class="swal2-x-mark">
            <span class="swal2-x-mark-line-left"></span>
            <span class="swal2-x-mark-line-right"></span>
          </span>
        </div>
      </div>
      <div class="swal2-content">
        <div class="swal2-html-container" id="swal2-content" style="display: block;">Silahkan lengkapi form yang
          tersedia
        </div>
      </div>
      <div class="swal2-actions">
        <button (click)="searchFlightFormFailurePopUPHide()" aria-label="" class="swal2-confirm swal2-styled"
                style="display: inline-block; border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);"
                type="button">OK
        </button>
      </div>
    </div>
  </div>
</div>
